[2020-08-27 17:57] 4c74356b41 opened #1435 "Question: how to use arrays in environment variables?"
[code]

doesn't work, it appears it treats it like a string, not like an array

[2020-08-27 18:17] 4c74356b41 commented on #1434
also, when running the helm x jsonPatch [example](https://github.com/mumoshu/helm-x/tree/master/examples/helmfile) I'm getting this:

[code]

[2020-08-27 18:17] 4c74356b41 commented on #1434
so it appears it doesnt work at all xD

[2020-08-27 23:51] mumoshu commented on #1434
@4c74356b41 Hey! Thanks for reporting. Could you provide me exact reproduction steps?

I tried to reproduce it myself but had no luck. Here's the structure of the sample project I tried:

[code]

[code]

// Btw I did find a bug that helmfile was ignoring `jsonPatches` when non-kustomize, non-chart directory is specified for `chart: localFolder`. I'll fix it asap. However at least it doesn't result

[2020-08-27 23:53] mumoshu commented on #1380
@4c74356b41 It does work. Would you mind sharing me an example project for reproduction, what you've expected, and what you got?

[2020-08-27 23:54] mumoshu commented on #1380
The point is - giving me actionable information would be helpful to resolve this.

[2020-08-28 00:04] mumoshu commented on #1258
@cdunford I think I got it. What if we had `showstderr: true` under `hooks` to enable forwarding stderr from the hook in near realtime?

[2020-08-28 00:19] smlx commented on #1435
try something like this
[code]

[2020-08-28 03:56] 4c74356b41 commented on #1380
sorry, i dont have that code already, i moved on to using bases, because it was the only way to achieve ordering, else it would blow up because the namespaces are not there, because everything depends on them and needs doesnt work

[2020-08-28 03:57] 4c74356b41 commented on #1435
mhm, I think I tried `toYaml` and it said he doesnt recognize that, let me re-test though

[2020-08-28 07:55] 4c74356b41 commented on #1435
mkay, I swear I tried this before raising this, but it didnt work. it works now. thanks.

[2020-08-28 07:55] #1435 closed

[2020-08-28 08:10] 4c74356b41 commented on #1434
what might help is that I'm using `4c74356b41/helmfile:azure` to test my stuff, maybe its related to environment? I dont have kustomize there, I just grab latest binary and use it

[2020-08-28 09:02] mumoshu commented on #1434
@4c74356b41 Maybe. Would you mind sharing me your Dockerfile/Makefile that you used for building the image?

I tried to read https://hub.docker.com/layers/4c74356b41/helmfile/azure/images/sha256-c194fd5b089dd9a5013f73dcf848aa5f2a73ceb259cc30f359da54d6c59353f9?context=explore but it's too obfuscated to read...

[2020-08-28 09:26] jheidbrink opened #1438 "Helmfile v0.125.5 fails to build dependencies"
Versions used: Helmfile 0.125.5 (0.125.4 works alright), Helm 3.2.4

When defining multiple releases for a chart with a dependency, Helmfile fails when updating the dependencies:

[code]

The command was run in a fresh clone of the repository.
This is the content of the files involved:

helmfile.yaml:
[code]

chart-templates/example-with-dependency/Chart.yaml:
[code]

chart-templates/example-with-

[2020-08-28 09:45] mumoshu commented on #1438
@jheidbrink I think this is a duplicate of https://github.com/roboll/helmfile/issues/541 and it happens when you tried to concurrently `helm dep build` the same local chart.

Probably I can enhance helmfile to gain exclusive lock on the local chart before running `helm dep build` so that it just works.

I'm marking this as a bug

[2020-08-28 10:07] 4c74356b41 commented on #1434
you can just pull the image, nothing harmful in there, but here's the dockerfile:
[code]

[2020-08-28 10:52] InspektorWarnebring commented on #1438
I agree it's probably an issue of concurrently building the dependencies of the same chart. I wouldn't say it's a duplicate of #541 as that one sees the problem only after killing helmfile (or running helmfile in parallel). The issue I described happens in a freshly checked-out repository, and only got introduced with v0.125.5.

[2020-08-28 10:55] jheidbrink commented on #1438
I agree it's probably an issue with building helm dependencies for the same chart concurrently. I wouldn't say it's a duplicate of #541 though, as that one only happens when killing a previous helmfile process, or when running mulitple helmfile processes simultaneosly. The issue I described always happens. Also, it only got introduced with version 0.125.5, while #541 also affects earlier versions.

[2020-08-28 10:57] jheidbrink commented on #1438
I'm wondering if one could simply remove duplicates in the list of charts to update the dependencies for.

[2020-08-28 10:58] jheidbrink commented on #1438
By the way, our workaround for this is to first update all chart dependencies directly using helm, and then run helmfile with the `--skip-deps` parameter.

[2020-08-28 11:01] mumoshu commented on #1438
@InspektorWarnebring Thanks. You're correct. I reread my comment before seeing your comment and edited my comment realizing I was wrong!

[2020-08-28 11:07] mumoshu commented on #1438
@jheidbrink Yes. Implementation-wise, it would have been the best if I could do so. Unfortunately, the `helm deps build` step is currently reside in the chart preparation step that involves the complex "chartify" step(https://github.com/roboll/helmfile/blob/14e2b9ed93faf099c5021581ff829fef8ec9386e/pkg/state/state.go#L928) and hence it wasn't trivial.

A short-term fix I managed to build in a timel

[2020-08-28 13:39] jwitko opened #1440 "Helmfile does not take kubeContext into account for unique releases"
Currently helmfile does not take kubeContext at the release level into the uniqueness of a release.  For a use-case where you want to deploy the same chart to many clusters you have to use dynamic release naming in order to circumvent this issue.

Repeatable failing test case:
[code]

Error:
[code]

From @voron  in the chat:
[code]

[2020-08-28 15:41] FWest98 commented on #1345
I think there is still a use for having an `include` function. The use of `template` is limited in YAML because it can't easily do proper indentation and other processing, but `tpl` requires all templates in separate files. This is somewhat inconvenient if you have small repetitive bits such as a random common toleration setting. Furthermore, `tpl` requires you to hardcode the file path everywhere

[2020-08-28 16:51] ribx commented on #1000
I find this very easy to reproduce:

[code]

[2020-08-28 21:29] travisgroth opened #1441 "default kubeContext cannot be overridden from command line"
The specific use case here is some demo helmfile configurations that I wouldn't want to accidentally deploy to an arbitrary context, so I have docker-desktop hardcoded.  However, I **would** like to give users the ability to specify a different context at run time without having to open an editor.  It looks like this should be supported from the main README, and I'd generally expect to be able to

[2020-08-29 01:24] #1438 closed

[2020-08-29 01:26] mumoshu commented on #1438
@jheidbrink Merged #1439. It will be released as part of upcoming v0.125.9.

BTW I think I've managed to implement it this way- See the latest commit in the PR :) Thanks for the feedback.

[2020-08-29 01:35] mumoshu commented on #1441
@travisgroth Thanks for writing up a detailed issue. I'd definitely make this better.

This behavior was introduced to make it less surprising in an edge-case- that `helmfile --kube-context minikube` doesn't result in using the `minikube` context when `releases[].kubeContext` are set. That's because `--kube-context` is for overriding the default kubecontext only. But I thought some people would ex

[2020-08-29 02:44] mumoshu commented on #1440
@jwitko @voron Hey! Thank you so much for your detailed report.

Indeed that the issue was that when you have "duplicate" release in terms of release namespace and name, the last occurrence of the release was repeated internally.

I thought I had fixed it in #1390, but turned out #1390 fixed the problem only for the unique release id computation for the helmfile's internal release duplication chec

[2020-08-29 02:45] #1440 closed

[2020-08-29 04:07] #760 closed

[2020-08-29 04:14] #1266 closed

[2020-08-29 06:15] mumoshu commented on #1351
@olfway Sounds like a good use-case for `releases[].jsonPatches` and `releases[].strategicMergePatches`?

[2020-08-29 12:30] travisgroth commented on #1441
Hey @mumoshu.  Thanks for the quick response.

Yes that all makes sense.  Personally I wouldn't expect it to do anything but override the config file _default_, so I think altering the behavior that way is okay.  If one thinks about it, the absolute default is your current context, then you can override the default a release uses if it does not specify a context in two places - config or flag.  Fi

[2020-08-29 20:56] FWest98 commented on #684
I would really appreciate a feature to merge releases blocks as well. I basically have a large number of releases I would like to logically separate in different files, but that I would like to apply all at once. My current solution uses `helmfiles:`, but then I run into issues with the environment specification and sharing that between the files.

[2020-08-29 21:47] jalkjaer commented on #1168
The same problem exists with mergeOverwrite:
helmfile.yaml:
[code]
build output (helmfile version v0.126.0)
[code]
in mo1 only `str` gets overwritten  and the "falsy" values are ignored
Have been looking for helmfile  v1.106.4

[2020-08-29 22:54] mumoshu commented on #1168
I meant v0.106.4

[2020-08-29 23:09] mumoshu commented on #1345
@FWest98 Thanks. Yeah I believe this should be super useful if added. The only thing that makes me underprioritize this is that Helmfile as a bit different semantics in that it doesn't support automatically importing `.tpl` files.

So, do we also need to add some convention or configuration to allow automatically importing .tpl files so that `define`d snippets can be `include`d without importing a

[2020-08-29 23:13] mumoshu commented on #1441
@travisgroth Thanks for your confirmation! Got it, I'll try altering it that way. Also, I'd like to explore a way to add validation to make `--kube-context` fail when any of `releases` defined `kubeContext`, so that it is clear to the user that they can't use `releases[].kubeContext `with `--kube-context` anyway.

[2020-08-29 23:21] mumoshu commented on #1168
@jalkjaer FWIW it seems a sprig issue.

Sprig's `mergeOverwrite` seems to be missing `mergo.WithOverwriteWithEmptyValue`.

[code]

`MergeWithOverwrite` is basically `Merge(dst, src, mergo.WithOverride)` where it MUST be `, `Merge(dst, src, mergo.WithOverride, mergo.WithOverwriteWithEmptyValue)` to enable override with falsey values.

[2020-08-29 23:32] FWest98 commented on #1345
I believe Helm has the functionality to automatically include all files with an underscore (see [here](https://helm.sh/docs/chart_template_guide/named_templates/)). I think a similar behaviour where helmfile would load all files with underscores in a given directory would be useful. For example, load all files with underscore in helmfile.d, or some other folder to be specified by the user.

[2020-08-29 23:57] mumoshu commented on #1345
Sounds good!

Probably automatic loading of _*.tpl fiiles under the same directory as the target helmfile.yaml, like `foo` for `helmfile -f foo/helmfile.yaml apply`, would be enough for the first implementation.

[2020-08-29 23:57] mumoshu commented on #1345
@FWest98 Would you mind submitting a PR for this?

[2020-08-30 15:00] vardan opened #1443 "helmfile diff fails with `executing ”stringTemplate“ at <.Values.db.password>: map has no entry for key ”password“`"
I don't get any helmfile commands to run - they all fail because of parsing error:
`executing ”stringTemplate“ at <>: map has no entry for key`

I can fix it by using `hasKey`, but I would prefer to understand why just simple, for example, `<.Values.db.password>` does not work

Helm server and client have version  v2.16.10

[2020-08-30 15:08] vardan commented on #1443
To clarify: `map has no entry key for "password"` happens when checking whether value exists (`
  {{- if .Values.db.password }}`), which seems pretty trivial and yet is failing

[2020-08-30 20:39] FWest98 commented on #1345
That idea sounds good as well! Unfortunately, I don't have any experience with Go, so I don't think I would be the person to start implementing this.

[2020-08-31 00:04] mumoshu commented on #1443
@vardan You should use `hasKey`. I don't think the semantics of go text/template allows `{{- if .Values.db.password }}`, unfortunately.

[2020-08-31 08:13] 4c74356b41 commented on #1434
I tried using your own docker image (quay.io/roboll/helmfile:helm3-v0.126.0) together with kustomize v3.8.1 (https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.1) and it throws the exact same errors:

[code]

btw, why does your image not have kustomize in it?

[2020-08-31 09:18] vardan commented on #1443
@mumoshu , Thanks. And if I want to just get a value, not as part of `if` condition, should I use `get` or `getDefault` then? As far as I understood `getOrNil` is deprecated, right?

[2020-08-31 11:24] mumoshu commented on #1443
@vardan Yes, `getOrNil` is deprecated. You should always use `get`. Also I think `get` is useful even as a part of `if`, like `if ne (.Values | get "db.password" "") ""`

[2020-08-31 15:26] tg90nor commented on #1379
I would love to see something like this implemented, so I can use `{{ .Release.Name }}` inside the `installed` field.

[2020-08-31 17:45] albertrdixon opened #1445 "Panic while processing helmfile hook"
[code]

Running into a panic when helmfile is trying to process hooks in the helmfile.yaml

[code]

[2020-08-31 18:37] cdunford opened #1446 "Enhancement: Output release name with hook logs"
I have several releases that have the same presync hooks; I run with the default concurrency which means several of these releases (and hence hooks) can be executing concurrently. Right now it is quite difficult to figure out which release a hook log line belongs to. It would be a great addition if the release name was included in the logging; something like:

[code]

[2020-08-31 20:38] Morriz opened #1447 "toJson empty"
toJson does not have equivalent mustToJson, which shows parse errors, so now I sometimes get empty output from toJson without having a chance to find out why. May I ask why not all sprig functions are passed one on one as in Helm?

[2020-08-31 23:56] mumoshu commented on #1447
@Morriz Tha's because I'm not entirely sure if all the Helm template functions also make sense in Helmfile's context, that I wanted to add functions as requested.

But is that important to you? Isn't this issue just a feature request to add `mustToJson`? 🤔

[2020-08-31 23:58] mumoshu commented on #1379
@bwbonanno Hey! Unforunately this doesn't work go text/template expressions in your helmfile.yaml is rendered BEFORE it's being parsed and processed as YAML.

But probably it would work as you might have expected if you use `valuesTemplate` instead of `values`.

[2020-08-31 23:59] mumoshu commented on #1379
@tg90nor Hey. It should be same as above, expected that you should use `installedTemplate`

[2020-09-01 01:05] cdmurph32 commented on #1445
I'm seeing this too. I can confirm the bug was introduced in version v0.126.0.

[2020-09-01 01:08] mumoshu commented on #1445
Seems related to https://github.com/roboll/helmfile/pull/1354#issuecomment-683838956

[2020-09-01 01:30] cdmurph32 commented on #1445
@mumoshu Are you still looking for a way to reproduce?

[2020-09-01 01:37] #1445 closed

[2020-09-01 01:53] mumoshu commented on #1445
@albertrdixon @cdmurph32 Thanks again for reporting! I've just published v0.126.1 that should include the fix for this.

[2020-09-01 06:37] 4c74356b41 commented on #1434
@mumoshu bump

[2020-09-01 07:00] mumoshu commented on #1434
@4c74356b41 Could you share me all the files including helmfile.yaml and your local chart? I have no luck so far reproducing this.

[2020-09-01 07:01] mumoshu commented on #1434
I was just too lazy to add and occasionally update it :) I'm open to review PRs to add/update it though

[2020-09-01 07:10] 4c74356b41 commented on #1434
okay, I figured it out. this happens when I try to override yamls from a chart, so doesnt throw when I have:

[code]

but throws when I have it like this;

[code]

unfortunately it doesnt work though... I observe no changes to the yamls. using your exact snippet, am I misunderstanding something

[2020-09-01 07:51] mkruliv opened #1450 "Helmfile charts deletion order is not correct if we have more than 6 files in sub-charts folder"
Hello!
Helmfile chart deletion (from the last chart to first) order is not correct if we have more than 6 files in sub-charts folder. For example, for 7 files we have the next deletion order - first file charts, next 6th. 5th .. 3. 2. and finally 7th.
Correct order should be 7,6,5,4,3,2,1
Correctly working only if we have less than 7 files.
Same situation if files are divided between subfolders.

[2020-09-01 08:13] Morriz commented on #1447
You are right. Indeed. That would be helpful.

[2020-09-01 08:22] mumoshu commented on #1450
@mkruliv Thanks for reporting. This is kind of embarrassing... but there was a terrible bug that resulted in random deletion order, rather than the reverse order. I've already submitted the fix at #1451, and it should be released as the part of upcoming Helmfile v0.126.2!

[2020-09-01 08:30] mumoshu commented on #1447
@Morriz Thanks for confirming. I've surveyed a bit and mustToJson seems to have added since sprig v3.

https://github.com/Masterminds/sprig/commit/877c54268c342eac47b061bf5378383b9b816623

So this will soon be addressed by #1294, which I'll prioritize higher than before, according to your request.

[2020-09-01 08:33] mumoshu commented on #1294
Seems like helm is already using sprig v3 so upgrading it won't break things badly 🤞
I also need v3 for `mustToJson` that is requested in #1447 so I'll tackle this soon.

[2020-09-01 08:34] mumoshu commented on #1294
Technically, it seems possible. I'll see what I can do.

[2020-09-01 08:36] #1450 closed

[2020-09-01 08:42] mkruliv commented on #1450
@mumoshu  Thanks for the help and for the quick response.

[2020-09-01 10:10] #1294 closed

[2020-09-01 10:10] #1447 closed

[2020-09-01 10:10] tg90nor commented on #1379
@mumoshu Cool, so should something like this work?

[code]

It fails with `executing "stringTemplate" at <get "appname.releases.{{` {{.Release.Name}} `}}">: error calling get: no value exist for key "{{` {{" in map[example:map[installed:true]]`, basically the same error as when I tried with `installed`

[2020-09-01 10:33] tg90nor commented on #1379
nvm, this works:
[code]

[2020-09-01 14:48] jwitko opened #1453 "0.125.9 release breaks "needs:" parameter."
In our releases we build dynamic `needs:` parameters sometimes.  An example of that looks like:
[code]

I know we could just use separate helmfiles, but if we ignore that for now I'd like to note that this method worked in 0.125.8 and it does not in 0.125.9.  The error reported is simply that a release built into the `needs:` parameter does not exist but in reality it does.  Here is the relevant o

[2020-09-01 15:48] K1Hyve opened #1454 "Defining environments in a an separate layer doesn't work"
I'm trying to use environments and layers at the same time while using a variable in my helmfile.yaml:
[code]

environments.yaml:
[code]

values.yaml:
[code]
When running `helmfile template` with version v0.127.0 I get this error:
[code]

But when I merge both files into one I don't get any errors:
[code]

Am I doing something wrong here?

[2020-09-01 23:37] mumoshu commented on #1454
@K1Hyve Thanks for using Helmfile! I'm a bit uncertain, but does it make any difference if you separated `bases` and the later part with `---`, like:

[code]

?

[2020-09-01 23:52] mumoshu commented on #1453
@jwitko I've also replied in our Slack channel but anyway - I think this is a side-effect of #1442.
Can you prepend `preprod_us-ashburn-1_controlplane/` to `needs` entries?

Sorry for the breaking change, but I think it's much better to fail like this so that you can notice that missing the kubecontext part in the `needs` entries isn't "correct".

Perhaps we can make the error message a bit more i

[2020-09-02 01:02] K1Hyve commented on #1454
Thank you for working on such a great app!
Yes, adding `---` indeed helped with solving the problem.
I had a look brief at [this page](https://github.com/roboll/helmfile/blob/master/docs/writing-helmfile.md#layering-state-template-files) but I didn't know this operator does such a huge change.

Feel free to close the issue.

[2020-09-02 09:50] 4c74356b41 commented on #1434
mate? can you confirm its something I'm doing, or its really not rendering any changes? @mumoshu

[2020-09-02 11:21] mumoshu commented on #1434
@4c74356b41 I noticed I was using a very outdated version of kustomize (v3.2.1) so that might be the cause of your issue. Let me check this soon.

[2020-09-02 11:55] mumoshu commented on #1434
[code]

[code]

[code]

[code]

[code]

So it does seem like changing the SA's namespace to `monitoring`, as specified in helmfile.yaml `jsonPatches`. What's the difference? Am I missing something? 🤔

[2020-09-02 11:56] mumoshu commented on #1434
There should be no way other than what I demonstrated above.

[2020-09-02 12:07] mumoshu commented on #1434
Same with the helmfile image 🤔

[code]

[code]

[code]

[2020-09-02 12:33] Preisschild commented on #1351
@mumoshu I dont think only using jsonPatches/strategicMergePatches is as powerful as e.g. a ConfigMapGenerator

for example, I cant add data in configmaps to data from the helm chart

[2020-09-02 12:54] mumoshu commented on #1351
@Preisschild I agree. So your use-case isn't fully addressed by helmfile's kustomize support, right? Helmfile does support installing any kustomization.yaml as a helm release.

[2020-09-02 12:57] mumoshu commented on #1351
If it's just that you want to add dynamically generated resources to an existing chart, you can add `dependencies: ["incubator/raw"]` to your release and use `{{ exec ... }}` template function to run any command to generate values for the raw chart :)

[2020-09-02 14:14] 4c74356b41 commented on #1434
okay, this just started working with v0.126.2, no changes on my end. so I'm not sure how you claim it was working for you prior to that helmfile version :)

[2020-09-02 20:04] benmathews commented on #1350
Glad to know I'm not crazy. Hitting this also.

[2020-09-02 20:11] #1443 closed

[2020-09-02 20:52] mmellin opened #1455 "Value templates and Secrets don't seem to work when under environment stanza"
Hello, thanks for creating such a great tool! I am learning how to use Helmfile environments to organize my values files. Currently I have two environments, `default` and `gpoc`.  My goal is to utilize commands such as `helmfile -e <env> [apply|destroy|sync]` so that that installation values can be customized per environment.

The problem I am facing is that when I use a `*.gotmpl` values file und

[2020-09-02 21:18] jalkjaer commented on #1168
Latest version (v3.10) of sprig does the expected. (see https://play.golang.org/p/r_IgI3Tqb1A )
If I bump sprig to v3.1.0 and explicitly add mergo v0.3.11 then mergeOverwrite works in Helmfile as documented in sprig

But then is now a test failing

[code]
That test is rather daunting (for a go / Helmfile noob like me)  so this is as far I was able to get.
If you want, I can create a PR

[2020-09-03 03:39] mumoshu commented on #1434
@4c74356b41 Glad to hear it worked to you! As I said before, it should work only after the fix mentioned in https://github.com/roboll/helmfile/issues/1434#issuecomment-682247709, which is https://github.com/roboll/helmfile/commit/94e01b79e0fcecdb4027380efc1a0c9d1f4c08d3, that is included since v0.125.9.
Sorry if it took too much time for you. But it would be great if i won't be blamed me as I'm tr

[2020-09-03 08:16] mumoshu commented on #1168
@jalkjaer Thanks for trying. Would u mind submitting the PR so that I can review and see what's going on?

[2020-09-03 12:05] jalkjaer commented on #1168
PR #1456 created

[2020-09-03 19:08] kevin-lindsay-1 opened #1457 "[Feature Request] Support arguments"
Right now, I'm using the basic pattern:

`helmfile.yaml`
[code]

`./common/environments.yaml`
[code]

`./environments/local.yaml.gotmpl`
[code]

If I pass in the argument `--set` or `--state-values-set`, in `local.yaml.gotmpl` the following is rendered:
[code]

This is at best strange behavior to me. Can't say if it's a bug or unsupported, but regardless, it's not ideal.

---

I propose something

[2020-09-04 12:59] eenchev commented on #1453
@mimoshu is there a way to infer the kubecontext using template variable then? Because I am choosing it via gcloud CLI and just want to use the current kubecontext.

[2020-09-05 00:21] mumoshu commented on #1453
@eenchev Hey! I admit it is wasn't clear, but if you omit `kubeContext` under `releases[]` in your `helmfile.yaml`, you don't need to add the kubeContext part to your `needs` entry either. So, in your case I believe you can just omit the kubeContext part in the needs entry, and use something like `cluster-system/cert-manager`.

[2020-09-05 05:06] JorritSalverda opened #1458 "Support for outdated action"
In order to quickly see if you have any outdated charts in your `helmfile.yaml` releases it would be nice to be able to run

[code]

and then get an output like

| Release  | Chart | Configured Version | Latest Version |
| -------- | ------------- | --- | ---- |
| ingress-nginx             | ingress-nginx/ingress-nginx | 2.13.0 | 2.15.0 |
| hostpath-provisioner | rimusz/hostpath-provisioner | 0.2.

[2020-09-06 19:29] jwitko commented on #1453
Will confirm the above solution (ty by the way!) on Tuesday when I get back to the office and close if its all good

[2020-09-06 21:19] andrewnazarov opened #1459 "presync hook fails with panic: runtime error: invalid memory address or nil pointer dereference"
`helmfile apply` fails to install releases with the following error:

[code]

I've got cert-manager defined in helmfile manifest with a presync hook:
[code]

versions:
[code]

[2020-09-07 07:54] mumoshu commented on #1459
@andrewnazarov Thanks for reporting! I believe this has been fixed since v0.126.1 by https://github.com/roboll/helmfile/pull/1448

[2020-09-07 08:15] mattymo opened #1460 "Ability to diff values from helmfile"
I'm not sure if this should go in helm-diff or not, but it would be really valuable to get a diff between the combined user-provided values from a helmfile defined release vs current state in Helm for a given release.

Here is an example scenario:
Step 1: Deploy myapp with helmfile
[code]
[code]

Step 2: manually update myapp:
[code]

Step 3: Check if any values were added that should be updated i

[2020-09-07 08:25] mumoshu commented on #1460
@mattymo Hey! Thanks for reporting. I'm still thinking about how diff between values work. Maybe we add some facility to Helmfile that can generate values for specific release and diff it against `helm get values` output?

Also, in the meantime, do you think `helmfile build --embed-values` added in #1436 could help reviewing values to be diff'ed?

[2020-09-07 09:02] mattymo commented on #1460
@mumoshu You write new features so often that it's hard to track what changed recently. You are a great developer and I'm glad you've written something so useful.

I have some pre-deploy helm charts as an included helmfile in theactual helmfile I use, so using helmfile build will render both as 2 yaml documents. I use https://github.com/mikefarah/yq as my preferred yq binary for handling YAMLs.. I

[2020-09-07 09:05] andrewnazarov commented on #1459
Yes, the latest version works. Thank you!

[2020-09-07 09:05] #1459 closed

[2020-09-07 15:36] tonsV2 opened #1461 "[Feature request] Load environment variables from .env files"
The support for reqiredEnv is really handy but it would be even more so if environment variables found in .env files was included.

Docker compose has fairly advanced support for .env files. But less could do it. Simply including variables found in .env would be a good start. Please see the below link for more information.

https://docs.docker.com/compose/environment-variables/

[2020-09-09 09:26] mattymo opened #1464 "Evaluating {{ .Namespace }} in a gotmpl file no longer works since v0.126.0"
I have a line in one of my values files for a release like this:
[code]
It gives this error:
[code]

I checked out v0.125.0 and v0.125.9 and they don't have this issue. It must be something that changed in v0.126.0. It is also present in v0.128.0.

Maybe https://github.com/roboll/helmfile/pull/1415 is the source of the regression?

[2020-09-10 07:37] mattymo commented on #1464
@mumoshu Can you take a look at this?

[2020-09-10 07:55] mumoshu commented on #1464
@mattymo Thanks for reporting! I think #1466 should fix this one.

[2020-09-10 12:08] #1464 closed

[2020-09-10 16:19] tonsV2 commented on #1418
I running into the same issue which I've described [here](https://stackoverflow.com/questions/63811855/using-nested-values-defined-in-environment).

I can make it work by using the `index` function but it's slightly more complicated and I feel like it ought to work without.

[2020-09-10 17:38] Morriz commented on #1316
bumping...this is leading to a shitload of warnings slowing down the entire operation

[2020-09-10 23:49] mumoshu commented on #1316
@Morriz Hey! Curious but can you instead use `missingFileHandler: Debug` so that it only prints to the debug level, which is disabled by default?

[2020-09-10 23:57] mumoshu commented on #1418
@jamesla @tonsV2 Hey! Sorry for the silence. I think the gist of your issues is that "double-rendering" gotcha.

Helmfile runs renders the template twice, once before for loading environment values, and another before loading entire helmfile. To load the environment values, Helmfile needs to render the template, because the original content of it:

[code]

Isn't a proper YAML.

Obviously before lo

[2020-09-10 23:58] mumoshu commented on #1418
To fix it, I'd suggest explicitly telling Helmfile which part of your helmfile.yaml needs to be evaluated/loaded first, by separating "parts" of your helmfile with `---`:

[code]

[2020-09-11 04:30] vugardzhamalov opened #1468 "environments key in YAML with start and end document directives not to be used?"
Hi there,

`helmfile version v0.127.0`

As far as I can see 'helmfile.yaml' files with start '---' and end '...' YAML document directives won't work with 'environments:' key in the same file... I wasn't sure if this is expected or not (maybe it is expected because of the double rendering loop) so I thought I'll double check and mention it anyway.

Here is the error message that I get if and when I

[2020-09-11 04:42] tonsV2 commented on #1418
@mumoshu - Thanks for the explanation.

I can fix this by simply listing my `environments` before my `releases`. No need for a separator.

I think it's a bit of a shame that the order matters but I'm well aware that we don't live in a perfect world.

[2020-09-11 05:06] mumoshu commented on #1418
@tonsV2 You found it! Yes - that workaround also works in many cases 😃 Theoretically it isn't perfect though. So I'd recommend you to use `---` as the go-to option in the future.

Yes. I'm not satisfied with the current state. It's just that I'm not yet sure what's the best/correct way to deal with this.

[2020-09-11 05:28] tonsV2 commented on #1418
The `---` separator doesn't work for me. Helmfile only runs if I list the `environments` first.

As a programmer I can relate to this but I feel the current implementation of environments is a bit limited. Being able to specify things such as kube context per environment and values per release would be really nice. Please don't take this comment the wrong way I greatly appreciate your work and sup

[2020-09-11 10:56] mattymo commented on #1460
Any news on this bug? Actually using helmfile build --embed-values when you have several values files leads to this issue:
[code]
I can't easily merge the two values files that have "foo" key. If I take away the array from the output, I lose foo.bar=value:
[code]
I think my remaining workaround is to transform the array into separate YAML docs, but https://github.com/mikefarah/yq doesn't support m

[2020-09-11 11:13] mumoshu commented on #1460
@mattymo Is this a bug in Helmfile? 😃 Anyway, I don't have a complete idea yet. I'm not even sure what's the technically correct way to do this.

`helm get values` gives us user-provided values used for installing the live helm release. So our diff target should be that.

For the diff source, Helmfile indeed has a set of values embedded in helmfile.yaml and also values.yaml.
Maybe Helmfile needs t

[2020-09-11 11:17] mattymo commented on #1460
@mumoshu  Sorting keys isn't too bad. I found a project, dyff, that can diff YAMLs and it auto-sorts keys.

My problem lies in merging the --embed-values YAML documents that get rendered.

[2020-09-11 11:26] mumoshu commented on #1460
@mattymo `dyff` seems useful. So- would it be enough if we could just enhance `helmfile build --embed-values` to somehow merge values for you, in the meantime?

[2020-09-11 11:30] mattymo commented on #1460
@mumoshu  Yes, that is exactly what I wanted in the first place. I just wanted to demonstrate how I could do it as a workaround using external tools.

[2020-09-11 11:40] mumoshu commented on #1460
@mattymo Thanks. It's close. Are you using `releases[].secrets`, or `ref+` URLs in values to inject secrets into values? Probably need to decide either to merge secrets into values, or not. `helm get values` does produce values containing helmfile values and secrets, because these are the same thing from helm's perspective.

[2020-09-11 11:43] mumoshu commented on #1460
Perhaps we'd better add a dedicated command for producing merged values, like `helmfile -l name=whatever write-values --output-file-template "{{ .Release.Name}}.values.yaml"`? Helmfile already has `-l key=value` for filtering the releases to be processed so we reuse that. `write-values` is intended to be a new command that writes values.yaml by merging targeted release's values and secrets(after d

[2020-09-11 11:44] mumoshu commented on #1460
Btw the `--output-file-template GOTEMPLATE` flag is designed after `helmfile template --output-dir-template` I've added recently.

[2020-09-11 11:45] mattymo commented on #1460
@mumoshu I'm not currently using the secrets plugin or referring to any external URLs. All of my values come from helmfile.yaml explicitly or from local files. I trust your judgement here for how best to implement this.

[2020-09-11 11:51] mumoshu commented on #1460
@mattymo Thanks for confirming. I'll give it a try with the `write-values` idea. I think it shouldn't take so much to be implented. But throughout testing is what I miss all time. I'd appreciate it if you could help testing it once released 😃

[2020-09-11 12:02] mattymo commented on #1460
@mumoshu  You can count on me testing it after it's available.

[2020-09-11 13:10] mumoshu commented on #1460
Waiting for CI #1469

[2020-09-11 13:21] mumoshu commented on #1460
@mattymo Would you mind giving it a try with `v0.129.0`? Note that I couldn't add support for `--set` and `set:` in helmfile.yaml for now. You need to translate them to `values:` to work around, in case you use `set`.

[2020-09-11 16:18] jwitko opened #1470 "Temporary directory generation does not take into account kubeContext uniqueness"
There is currently an issue when deploying with releases that use dynamic values for kubeContext.  Helmfile attempts to generate a temporary directory path that takes into account all things that make a release unqiue into the dir path naming.  It does not account for KubeContext and therefore when doing things like a `lint` or `template` on dynamic releases helmfile will attempt to unpack remote

[2020-09-11 20:08] Morriz commented on #1316
Good thinking. Tnx. Will try monday :)

[2020-09-12 19:39] vugardzhamalov opened #1473 "Global and Release Hooks events args do not respect .Environment.Values.foo syntax deprecation notice"
Hi there!

I am not sure if this was reported earlier or not - therefore I am not aware if this is expected, but as far as I can see both Global and Release hooks events do not respect {{ .Environment.Values.foo }} deprecation notice issued [here](https://github.com/roboll/helmfile#note-on-environmentvalues-vs-values).

In my case I cannot retrieve the value of 'foo' if I issue following:
`args: [

[2020-09-13 00:46] #1470 closed

[2020-09-13 08:01] vugardzhamalov opened #1474 "v0.128.2 environments.yml cannot unmarshal !!str `{{.Valu...` into bool"
Hi there,

I think I've got myself into something similar to this one  #553

It is almost identical to what I am trying to do with 'wait:' key boolean value, there is a syntax difference of course, this is what it looks like in my helmfile.yml:

`wait: '{{`{{.Values.wait}}`}}'`

The error message is:
`yaml: unmarshal errors:
  line : cannot unmarshal !!str `{{.Valu...` into bool`

It will be nice

[2020-09-13 08:04] tinyzimmer commented on #980
This issue appears to have come back on the latest helmfile image

[2020-09-13 10:46] mumoshu commented on #980
@tinyzimmer Could you share me the exact steps you've done to reproduce it? Thanks!

[2020-09-13 10:48] mumoshu commented on #1474
@vugardzhamalov Would you mind renaming it to `environments.yaml.gotmpl` to enable go templates?

[2020-09-13 10:49] mumoshu commented on #1468
@vugardzhamalov Hey! Yes, you can't use `---` in the very beginning of your helmfile.yaml or at the end of it. That's because every "part" of your helmfile.yaml must be a valid, non-empty helmfile.yaml.

[2020-09-13 11:02] tinyzimmer commented on #980
I just realized it was because I wasn't running as root. And the plugins are only installed for root in the image.

[2020-09-13 11:12] mumoshu commented on #980
@tinyzimmer Thanks! That makes sense. Maybe we'd better have a documentation for non-root usage(with the current image, the only way would be to installing the plugin as the non-root user before running helmfile), or maybe have an another docker image with non-root user as the default? WDYT?

[2020-09-13 11:32] tinyzimmer commented on #980
Thats a good question. I'm wondering almost if it warrants a custom entry point, but that seems overly complicated. I really wish diff was a built-in to helm :stuck_out_tongue: .

I dunno how you would reliably have a non-root image. In my use case I usually am passing it from a Makefile with something like `--user $(shell id -u)`. I don't know off hand what that turns `HOME` into by default, but

[2020-09-13 14:49] vugardzhamalov commented on #1474
Thank you @mumoshu! I did but to be honest with you I can't see how it might help me with my 'helmfile.yml' ( 'releases:' list item fields ) hydration... When I hydrate list item fields in 'helmfile.yml' (under 'releases:' list field) with string values from 'environments.yml' (or .yml.gotmpl) it works:

releases:
- name: 'some-release-name'
namespace: ```'{{`{{.Values.namespace}}`}}'```
wait: ```

[2020-09-13 14:50] vugardzhamalov commented on #1468
Thank you @mumoshu! Loud and clear - closing it now!

[2020-09-13 14:50] #1468 closed

[2020-09-13 14:51] vugardzhamalov commented on #1468
As per earlier made comment it seems as if this is expected...

[2020-09-13 23:47] mumoshu commented on #1474
@vugardzhamalov Thanks! Perhaps I misread your comment - I thought you were unable to render the original example within  a yaml file specified under `environments.NAME.values` of your helmifle.yaml. Apparently you're talking about your helmfile.yaml, right?

If you don't need release template but are fine with helmfile template, you should be able to use any of the below variants:

[code]

[code]

[2020-09-14 00:02] mumoshu commented on #980
@tinyzimmer Sounds great 😄 I haven't realized about that benefit of merging diff into helm core. I can suggest adding your 👍 to https://github.com/databus23/helm-diff/issues/211 about that

I think this is technically possible using custom entrypoint, or a wrapper around helm. Probably the wrapper could read $HOME and copy the prepopulated helm-diff plugin installation directory to the actual plug

[2020-09-14 07:08] mattymo commented on #1460
@mumoshu  Here's some feedback:
1) --write-values shouldn't trigger dependency checks since we aren't actually installing anything. I get this error if I try to run helmfile write-values with a chart that has a dependency:
[code]
helmfile build --embed-values does this without any issue.

2) --output-file-template /dev/stdout works great. I have no concerns there. However, I feel like the default

[2020-09-14 08:52] vugardzhamalov commented on #1474
Thank you @mumoshu ! Very clear and loud - both options confirmed to work be it:

`wait: {{.Values.wait}}`

or

waitTemplate: ```'{{`{{.Values.helmfile.workloads.gitlab.com.release.wait}}`}}'```

There was a catch though... In my case I list my 'environments.yml' file under 'bases: ' key within the same 'helmfile.yml' state file... So originally it looked like:

bases:
    - 'common/environments.y

[2020-09-14 16:07] mouchar opened #1476 "Selectors are order-dependent?"

[2020-09-14 16:13] mouchar opened #1477 "Selectors are order-dependent?"
Given a simple helmfile.yaml:
[code]

When I want to select releases that don't have a label type equal to "bar" AND their name is not equal to "nolabel2", I would expect the only selected release would be the first one ("nolabel1").

However, the following selector returns both "nolabel1" and "nolabel2":

[code]

To get things more confusing, when I swap both parts, it selects the expected releas

[2020-09-15 00:50] mumoshu commented on #1477
@mouchar Thanks for reporting! Please see #1478. I'm likely to make it work as you've expected soon.

[2020-09-15 00:56] #1477 closed

[2020-09-15 01:09] mumoshu commented on #1477
@mouchar Could you try v0.129.3?

[2020-09-15 07:28] mouchar commented on #1477
@mumoshu Now it works as expected, thank you for the quick fix.

[2020-09-15 23:18] jseiser opened #1479 "Is it Possible to Run the Same chart against multiple namespaces"
Basically, I need a way to create our TLS cert for nginx, in all of our namespaces in one go.

I feel like I could somehow use the kubernetes raw chart, but Im not sure how to go about looping through this, depending on the environment.

Essentially, I have the encrypted secret file, containing the certs, and a list of namespaces I would need it installed.

Any ideas?

[2020-09-15 23:34] mumoshu commented on #1479
How about ranging over the namespaces of your choice with go template?

[code]

[2020-09-15 23:45] jseiser commented on #1479
Ill have to try this, but it looks perfect.  Thank you.

I wasnt sure where I could really do the templating at in the helmfile.yaml

[2020-09-15 23:52] ruckc commented on #1433
@alexellis for what it's worth, i was able to git clone & make install this for my RPi4 cluster to make an arm64 binary, i've noticed most helm plugins don't support arm64 (to include diff which this depends on).

[2020-09-16 00:51] darkn3rd commented on #1204
I am running into a problem with a similar output in **helmfile version v0.125.1**
[code]

[2020-09-16 01:06] mumoshu commented on #1204
@darkn3rd Thanks for reporting! I haven't tried `platform-operations-on-kubernetes` myself yet. So, would you mind telling me exact steps to get your error myself? (Like `cd` to somewhere, then edit some file, run some command, see the error, etc)

[2020-09-16 01:28] darkn3rd commented on #1204
@mumoshu I am using my own custom one that is copy/paste.   The error doesn't give me much to go by, so I am clueless as to where the error.

This is my helmfile:
[code]

I wish there was a command where I could get the intermediary rendering, such as see what repositories or releases looks like when finally rendered before it goes to the next state.

[2020-09-16 01:34] mumoshu commented on #1204
Thanks. Could you try adding `---` before `repositories` so that `values` are loaded before evaluating go template?

[code]

[2020-09-16 01:43] darkn3rd commented on #1204
I tried that before and it didn't work.  In the example code from either [getting started](https://github.com/paulczar/helmfile-starter-kit) or [POOK](https://github.com/paulczar/platform-operations-on-kubernetes/blob/master/helmfile.yaml), they explicitly use the version, if I don't have a version specified, I got weird errors.

[2020-09-16 01:49] mumoshu commented on #1204
What error did you see when you used `---`?

[2020-09-16 01:50] mumoshu commented on #1204
Can we say that it's just that POOK and the getting-started example is designed to require you to define `version` then? Do you think there's any problem on helmfile side for that?

[2020-09-16 01:53] darkn3rd commented on #1204
I actually am able to isolate a reproducible case.
I updated my `charts.yaml` case to this:
[code]
When I run it, `helmfile lint`, I get:
[code]

When I add the `---`, I get something quite different.

[code]

[2020-09-16 01:57] mumoshu commented on #1204
@darkn3rd For the latter, you can't use go template expression `{{ env "HOME" }}` because `charts.yaml` is a plain yaml.

Could you try naming it `charts.yaml.gotmpl` to enable templating?

[2020-09-16 02:00] darkn3rd commented on #1204
Sigh.
[code]

[2020-09-16 04:58] mumoshu commented on #1204
Sorry, but I don't get it. Helmfile seems to have successfully given you the cause of the error, right..?

Do we need to add a more verbose error/hint message, like `Did you forget to add .gotmpl to your values file?` and/or `Did you really defined `values` in your values.yaml?` ?

Otherwise, sharing me what you've expected concretely would help. Thanks!

[2020-09-16 05:28] darkn3rd opened #1480 "helmfile template output values erased"
## Steps

[code]

## Expected Results

I could see the rendered helm chart values.  This would help with debugging what went wrong.

## Actual Results

When an error is returned the resulting rendered values is deleted, e.g. ` /tmp/values360851530`.  There's no error message that doesn't help much in determining what key/value caused the issue.

[code]

[2020-09-16 06:03] darkn3rd commented on #1480
I saw that `--debug` was required before template.  Awkward CLI.  This is acceptable. Closing.

[2020-09-16 06:03] #1480 closed

[2020-09-16 06:12] mumoshu commented on #1480
@darkn3rd Values may contain sensitive info so it isn't a good idea to always print them. Also, you can use `helmfile write-values` to see only values, and yes `--debug` if you need that for.. debugging?

[2020-09-16 06:19] darkn3rd opened #1481 "Default Values Not Applied with helmfile template"
It seems that the source helm chart default `values.yaml` are not included when using `helmfile template`, so it errors with an exit status 1.  When using `helm template` with identical values, or using `helmfile template` and in repositories item, explicitly including the default `values.yaml`, the chart renders correctly.

## Steps

[code]

**charts.yaml.gotmpl**
[code]

**helmfile.yaml**
[code]

[2020-09-16 06:36] mumoshu commented on #1481
@darkn3rd Thanks for reporting! Can we say that this is an upstream bug, that `helm template /abs/path/to/local/chart` doesn't pick the default values.yaml from the filesystem?

If not, it's likely due to that your values somehow overrides the default, cuz all helmfile does is just run `helm template`, as you might have seen in the logs.

Does it contain something like the below?

[code]

You can

[2020-09-16 07:15] darkn3rd commented on #1481
Interesting.  This will override the `backups.admin`, which obviously, well is not good.
[code]

I was doing this:
[code]

[2020-09-16 07:21] darkn3rd commented on #1481
Thank you for the help.

[2020-09-16 07:21] #1481 closed

[2020-09-16 13:50] jseiser commented on #1479
@mumoshu no luck getting this going.

[code]

[code]

My secret file exists, and contains both tls_key and tls_cert

[code]

Abridged version

[code]

Error I get

[code]

I believe thats its telling me .Values.tls_cert doesnt exist, which I imagine means its not actually evaluating the location of secrets.yml.

[2020-09-16 14:28] jseiser commented on #1479
I got this, running without errors, but nothing actually installs.

[code]

Diff
[code]

Apply
[code]

[2020-09-16 15:06] jseiser commented on #1479
Got it.

Problem with the above, was the chart itself.  When i ran a helmfile template, I noticed I wasnt getting any results.

Swapped from using `- template` syntax, to the` - resource` syntax in the values and it all worked.

Thanks.

[2020-09-16 15:06] #1479 closed

[2020-09-16 18:06] ztmr opened #1482 "helmfile does not seem to follow DAG as defined by `needs`"
I am trying to build a DAG with `needs`, like:

[code]

But I can see all the charts being deployed at the same time and the `cert-manager-issuers` is failing at the end because the `cert-manager` has not managed to create its CRDs yet.

I have seen in another thread that `concurrency` can be passed so I was trying to set it to 1 to see what is happening but this flag does not seem to be supported

[2020-09-16 23:33] mumoshu commented on #1482
@ztmr I think you need `disableValidation: true` set for `cert-manager-issuers`.

I'm assuming cert-manager-issuers is failing while running `helm diff`, not `helm upgrade --install`. You should able to verify that by passing `--debug` to helmfile like `helmfile --debug apply`.

The rationale is that, when `helm-diff` tries to diff cert-manager-issuers, it DOES contact to K8s apiserver to check if

[2020-09-17 10:17] ztmr commented on #1482
Ah, ok, I get what is happening. This has helped, thanks!

We are migrating to helmfile from our own custom scripts. These were always using `verify`/`atomic`/`wait`. With helmfile, we had to disable all of these because it was causing a lot of issues and we have to add even `disableValidation: true` now :-(

Any future plans to improve these things?

I do realize that there might be no easy and s

[2020-09-17 11:25] mumoshu commented on #1482
@ztmr Hey! Thanks for confirming.

Regarding `verify`, `atomic`, `wait`, all helmfile does it to add `--verify`, `--atomic`, `--wait` to `helm upgrade --install`. So honestly I don't understand why you had to disable them for Helmfile only. If you've successfully used it in your former script, it should work in Helmfile, too, because those two are doing the same thing.

If you didn't need `helm di

[2020-09-17 13:57] Arabus opened #1483 "helmfile test always tests all releases"
When running `helmfile test` on a helmfile with conditional releases, releases with `condition: false` are still tested.

Example:

[code]

Running `helmfile test` yields:

[code]

I believe the error is somewhere  here: https://github.com/roboll/helmfile/blob/14e2b9ed93faf099c5021581ff829fef8ec9386e/pkg/state/state_run.go#L58 where all releases are parsed unconditionally.

I suggest evaluating th

[2020-09-17 17:14] kupnu4x opened #1484 "seems tpl function not working in hooks args"
helmfile.yaml
[code]

test-patch.yaml.gotmpl
[code]
expected behavior: rendering test-patch.yaml.gotmpl with actual values
current behavior:
[code]

helmfile version v0.129.3

[2020-09-17 23:48] mumoshu commented on #1484
@kupnu4x Thanks for reporting! #1485 should add that.

[2020-09-17 23:57] mumoshu commented on #1483
@Arabus Thanks for reporting! I'm going to fix this via #1486

[2020-09-17 23:59] mumoshu commented on #1476
This seems to be a duplicate of https://github.com/roboll/helmfile/issues/1477 and has already been fixed. I'm closing this as resolved!

[2020-09-17 23:59] #1476 closed

[2020-09-18 04:40] iAnomaly opened #1487 "Improvements to {{exec}}"
`{{exec}}` is a great feature of Helmfile and adds a lot of power by enabling the use of any external command/script. However, the current behavior only:
1. Returns stdout but only on success
2. On error (> 0 exit status) panics and dumps the exit status, command, and stdout/stderr to `COMBINED OUTPUT` which could dump potential secrets as issued in #1397

I'd like to propose the following improve

[2020-09-18 08:44] bskim45 opened #1489 "`helmfile repos` attempts to re-add already added repo"
Hi, I just updated helmfile from `v0.128.0` to `v0.129.3` and strange behavior happens when I try to attempt repo-related actions. Am I missing something?

`helmfile` version: `0.129.3`
`helm` version: `3.3.2`

helmfile.yaml
[code]

output:
[code]

[2020-09-18 08:50] mumoshu commented on #1489
@bskim45 Recently Helmfile started to rely on helm's behaviour that `helm repo add`ing the existing repo updates it(`helm repo up` but for the specific repo). Which version of Helm are you using?

[2020-09-18 09:46] bskim45 commented on #1489
Just found out this is due to the breaking change in recent helm release `v3.3.2`: https://github.com/helm/helm/releases/tag/v3.3.2

Commands like `deps` and `sync` are also affected to this change. Should we have to make some changes according to the recent helm update?

[2020-09-18 10:32] mumoshu commented on #1489
@bskim45 Thanks. Good to know. Yeah maybe we'd need to add `--force-update` for v3.3.2 or greater for our use-case.

I couldn't find any info for changes on `deps`  and `sync`. Would you mind sharing that?

[2020-09-18 10:43] bskim45 commented on #1489
Nothing special. What I meant to say is that `deps` and `sync` commands are also failing since `repo` operation also called in those two.

[2020-09-18 10:48] mumoshu commented on #1489
@bskim45 Ah, I see! Thanks for clarifying.

[2020-09-18 11:56] crudalex commented on #1422
I tried helm lint it gives the same error. Think it's helm's problem, closing the issue.

[2020-09-18 11:56] #1422 closed

[2020-09-18 18:08] cdunford commented on #1258
@mumoshu just realized you responded when I looked back on this thread after the latest convo slack. My request is around `exec`, not hooks; I think it would great if `stderr` was always logged even if `exec` is successful.

[2020-09-18 19:55] Xtigyro commented on #1489
+1

[2020-09-18 20:00] Xtigyro commented on #1489
Confirmed to be working with Helm `v3.3.1`.

[2020-09-19 06:43] darkn3rd commented on #1489
FYI.  Helm added a breaking change in `v3.3.2` and is no longer idempotent.  I have opened an issue under helm with https://github.com/helm/helm/issues/8771

[2020-09-19 09:30] Xtigyro commented on #1489
@mumoshu

I don't think Helm will revert that. `helmfile` needs to adhere to the new security rules and add the same flag (I guess).

[2020-09-19 09:45] darkn3rd commented on #1489
I think the solution for this is to no longer to rely on `helm` for impotence that is expected by other package managers.  One way to avoid checking the helm binary versions, and branching out with different behavior, is to always check if the repo exists, and then if it does, do not try to install it.

Unless there was another reason why `helmfile` would want to reinstall a repository?

[2020-09-19 20:08] Arabus commented on #1483
Thanks alot - this is currently breaking our integration tests and I had to resort to breaking the releases into different helmfiles and calling helmfile test only one those that contain enabled releases :-/

Looking forward to the patch. Thanks for your awesome work with this tool btw. 👍

[2020-09-20 03:17] wi1dcard commented on #1489
I've opened a PR #1488 that might fix this issue.

[2020-09-20 07:16] Xtigyro commented on #1489
It seems Helm are willing to try not to throw error in this case though keep the same behaviour. No timeframe was mentioned. Please check: helm/helm#8771

[2020-09-21 00:38] mumoshu commented on #1489
Helmfile uses `helm repo add` on existing repo for updating it. `helm repo up` updates all the repos on the system regardless of which one your helmfile.yaml uses, which adds unnecessary additional run time.

[2020-09-21 00:40] mumoshu commented on #1489
Thanks everyone! I'm going to review @wi1dcard's PR ASAP and willing to publish a patch release soon.

[2020-09-21 00:43] #1484 closed

[2020-09-21 00:44] #1483 closed

[2020-09-21 05:45] mumoshu commented on #1326
@michaelpporter Thanks for raising this! Apologies I had been putting this onto my "nice-to-have" list. But it turned out this will be important soon as the upstream MAY discontinue the stable and incubator repositories after November https://helm.sh/blog/helm-v2-deprecation-timeline/

[2020-09-21 06:31] #1326 closed

[2020-09-21 07:47] johnlinvc commented on #1403
I'm interested in adding this feature.
Followings are from the research I made.
- helm OCI don't support semver & signed release yet. [1]
- helm OCI requires login to registry. We'll need to add username & password to the repositories. [2]
- helm chart export need to save the chart somewhere outside the helm cache dir [2]. Maybe this need to be configurable?
- Since helm OCI requires totally diffe

[2020-09-21 13:32] RothAndrew commented on #1489
Could we possibly only add `--force-update` on the few specific versions that require it? IMO the security implication is valid; if name and url are same helm should return 0 but if name is the same and url is different helm errors.

[A new PR is being worked right now to have helm return 0 if name and url are both the same](https://github.com/helm/helm/pull/8772)

[2020-09-21 16:21] ktarplee commented on #1489
The [MR](https://github.com/helm/helm/pull/8777) in helm was merged.  It is targeted for 3.3.4.

[2020-09-22 05:15] wi1dcard commented on #1489
Hi there, I just submitted another PR #1494 to remove `--force-update` for helm versions other than `v3.3.2` and `v3.3.3`. Please check it out see if there's anything I missed.

[2020-09-22 10:15] andrascz opened #1495 "`helmfile apply` concurrent map iteration and map write"
After upgrading to 0.130.0 I got some panics about concurrent map iteration/write when running `helmfile apply`, `helmfile destroy` works.
The same issue is there when downgrading to 0.129.4
0.129.3 works fine.

Stacktrace:
[code]

[2020-09-22 16:53] vsimon commented on #1461
just a suggestion, for in the meantime, there is [direnv](direnv.net) + this alias gets .env files loaded at the time the helmfile command is run
`alias di='echo dotenv > .envrc && touch .env && direnv allow'`

[2020-09-22 23:59] mumoshu commented on #1495
@andrascz Thanks for reporting 🙏 This seems like a regression introduced in #1485. Let me fix this soon.

[2020-09-23 03:50] tonsV2 commented on #1461
@vsimon - Thanks for your suggestion

Minor note, isn't the touch command of the alias redundant?

direnv seems like a great project but it does seem like a minor hassel to use "plain" .env files. Not only would you have to make a symlink. Eg. ln -s .env .envrc but every environment variable needs to be prefixed with `export` which differs from the way it's done with other applications.

Furthermo

[2020-09-23 03:58] tonsV2 commented on #1461
https://github.com/direnv/direnv/issues/674

[2020-09-23 04:03] vsimon commented on #1461
Yes it deals with .envrc files and the need to export every variable in the .envrc file was the reason why I mentioned the bootstrapping alias (done once per folder). The `dotenv` function is a built-in direnv function that automatically sources an .env file in the same folder (an .env file without the export prefixes).

[2020-09-23 04:20] tonsV2 commented on #1461
@vsimon - I see! I read dotenv as direnv. I understand the alias now. Thanks :-)

[2020-09-23 14:30] yohanb opened #1496 "Templating a list of maps with the gotmpl"
Hi!
I'm trying to template a list of maps with the gotmpl file and getting this error:

_Error: failed to parse /var/folders/75/bv9kxw6j64xgjm2mgy9zhxh0wngd6b/T/values797219317: error converting YAML to JSON: yaml: line 11: did not find expected ',' or ']'_

**helmfile.yaml**
[code]
**values.yaml.gotmpl**
`    secrets: {{ .Values.secrets }}`

Using only the Helm templating works fine so I'm guessi

[2020-09-23 19:02] lukasmrtvy commented on #952
@mumoshu Does https://github.com/roboll/helmfile/pull/1466 work for ^ use case? Its really usefull for CRs for setting namespace from release..

[code]

[2020-09-23 22:45] amnk opened #1497 "Helmfile builds unrelated dependencies in 0.125.0+"
First of all - @mumoshu thank for awesome project.

I've been using helmfile for a while now with different versions, but starting with 0.125.0 I see an interesting behavior. Some background: all my installation uses charts stored locally, so I don't have `repositories` defined at all. Now, with versions earlier than 0.125.0 each my `sync` builds only relevant charts.

But with 0.125.0+ if I do sy

[2020-09-23 23:35] mumoshu commented on #952
@lukasmrtvy It works only in values.yaml.gotmpl in your case, as `{{ .Release.Name }}` must be rendered before parsing the whole helmfile.yaml, but to detect which `Release` it is rendering it needs to parse the YAML(chicken-and-egg problem).

[2020-09-23 23:53] mumoshu commented on #1497
@amnk Thanks for reporting! Does this mean you sometimes see two or more `Building dependency release=xxx` on the same release? Or do you see `Building dependency release=xxx` at most once per each release?

[2020-09-24 09:08] amnk commented on #1497
@mumoshu with 0.125.0+ I always see three or more unrelated `Building dependency ...` doing one single release. If my selector includes several releases, I will see same dependencies.

[2020-09-24 15:07] gdollardollar commented on #1403
+ 1 to add this to helmfile. In the meantime, here is what we use: https://gitlab.com/-/snippets/2018727
It is a pretty naive bash script that pulls charts from a registry so that they can be used as "local charts"

[2020-09-24 16:42] dennybaa commented on #1453
Hey there,

I also get the same `in ./helmfile.yaml: in .helmfiles[0]: in releases/wks-dev/helmfile.yaml: "sci-wks-dev/monitoring/prometheus-party" depends on nonexistent release "monitoring/promparty-auth"`

[code]

The default template has kubeContext explicitly set, without it works fine.

[2020-09-24 20:04] jwitko commented on #1453
Yea, sorry I never commented back.  @mumoshu , this worked for me and its no longer an issue.
@dennybaa if you set `kubecontext` you have to add as a prefix to the `needs:` statement.
`- <kubecontext>/monitoring/promparty-auth`

[2020-09-24 20:04] #1453 closed

[2020-09-25 07:28] philomory opened #1499 "Feature request: go-getter chart values"
Since #1296, it's possible to reference values files in remote git repositories. However, in my testing so far, it only seems to work with Environment values, not with indivual chart/release values. In other words, I'd like this to work:

[code]
When I try this, though, it just looks for a local file with with that name (e.g. `./git::ssh...`).

Do I have the syntax wrong somehow, or is this not cu

[2020-09-25 10:18] baurmatt commented on #107
Helmfile seems to have this feature now => [DAG-aware installation/deletion ordering](https://github.com/roboll/helmfile#dag-aware-installationdeletion-ordering)

[2020-09-26 11:16] hans-hsieh-asus opened #1501 ""map has no entry for key" when using values in "environments""
I'm trying to use values defined in `environments` in the release. But it shows the error `map has no entry for key`
My `helmfile.yaml`:
[code]
And I run
[code]

[2020-09-26 18:03] mumoshu commented on #1501
@hans-hsieh-asus Hey! Please try the below to avoid the chicken-and-egg problem(YAML needs to be parsed before evaluating `.Values.my.port` but to parse YAML you need to render it...

[code]

[2020-09-28 03:16] hans-hsieh-asus commented on #1501
@mumoshu Thanks, it works!
But I'm curious that isn't the text below still a valid yaml?
[code]

[2020-09-28 03:29] #1501 closed

[2020-09-28 14:16] j-zimnowoda opened #1502 "The helmfile merges incomplete yaml and sets default values to null"
I have a value file `nginx-ingress.yaml` with the following structure:
[code]
Yes, the file above is incomplete.

I merge the `nginx-ingress.yaml` with the other files that does not specify `charts.nginx-ingress` property:
[code]

The helmfile merges the nginx-ingress.yaml file with the other values and produces:
[code]
that contains `null` value.

My question is if this is expected behaviour and

[2020-09-28 16:29] yohanb commented on #1496
Well, I figured it out.  Don't know if it's a limitation of the golang templating engine but I had to break down the list in a `{{range}}` like so:
[code]

[2020-09-28 16:29] #1496 closed

[2020-09-28 23:45] philomory commented on #243
If we do end up deprecating `set` in favor of inline values, could we also merge the `values` and `secrets` sections in some way? Right now, it's impossible to specify a values file that will have higher priority than a secrets file, e.g., this command line cannot be replicated: `helm upgrade --install -f values.yaml -f secrets.yaml -f values.prod.yaml -f secrets.prod.yaml`.

If you write it like

[2020-09-29 00:15] mumoshu commented on #243
@philomory Thanks! Yeah that's a valid point. I was thinking if we could use [remote secrets](https://github.com/roboll/helmfile/blob/b1190508b2fbbb56b80de916aa7e66dd9f07db2f/docs/remote-secrets.md#remote-secrets) though. WDYT?

[2020-09-29 03:07] philomory commented on #243
That's great if you've got your secrets in Vault, it's a bit more awkward when each chart your deploying has a chart-specific `helm-secrets` YAML file, and some of those files for specific microservices might have the same key with different values.

[2020-09-29 03:10] philomory commented on #243
Actually, I suppose `ref+sops://` would solve that case? It'd be nice if `vals` and `go-getter` could join forces to read a sops-encrypted file from a remote git repo, but maybe that's asking too much (and obviously that's unrelated to whether the `set` section is deprecated or not).

[2020-09-29 03:24] johnlinvc commented on #214
Hi. Is this thread still alive?
Not the exact same use case, but we want to specify plugins & versions in helmfile , then install them with some commands like `helefile plugins`.
We'd be happy to contribute this feature if anyone wants this.

Helmfile format (almost same as above, but with versioning):
[code]

[2020-09-29 06:20] mumoshu commented on #214
@johnlinvc From a user's perspective, I'd rather prefer `helmfile apply` to automatically install missing or update outdated plugins. But yeah, I generally agree that this is something worth exploring.

Also, your suggested helmfile format looks good at glance!

[2020-09-29 06:24] mumoshu commented on #243
@philomory Yeah I thought `ref+sops://` in `values` could replace `secrets`.

Re: reading a sops encrypted file from a remote git repo, that sounds like an interesting use-case indeed :) Created https://github.com/variantdev/vals/issues/35 to track it.

[2020-09-29 21:01] philomory commented on #243
@mumoshu So... does `ref+sops://` actually work? I tried the following:

[code]
[code]

Results:
[code]

There's not actually any examples of how to use `ref+sops://` anywhere in the Helmfile documentation (not even the PRs linked from the documentation), they only show `ref+vault://`; but using the `ref+sops://` syntax from the `vals` documentation doesn't seem to work for me.

[2020-09-30 11:20] Xtigyro commented on #467
Yesterday with helmfile v0.130 I started seeing the same problem. Still need to validate it completely whether it's the exact same root cause.

[2020-09-30 22:08] mozai opened #1504 "request: version of Golang when asking helmfile --version"
If the versoin of Go used to build helmfile will change what will raise an error when using helmfile, then I feel it's significant enough to be included in the --version message.

I'm running into a problem with using text/template features in the helmfile.
[code]

I strongly suspect this is because slice-on-a-string is only permitted in Golang version 1.13 and above, but the binary helmfile I was

[2020-09-30 23:49] philomory opened #1505 "Feature Request: State/Global Secrets"
Currently, it's possible to have state values defined both on a per-environment basis, as well as a set of "global"/"state" values defined under the top-level `values` key. Because of this feature, when some value is shared across all environments, you don't need repeat it for each environment, turning this:

[code]
...into this:
[code]
...or even this:
[code]

With secrets, no such option is avai

[2020-10-01 01:06] fzyzcjy opened #1506 "Intellij IDEA support?"
Hi thanks for this wonderful project! I am using Intellij IDEA and it has great support for traditional Helm charts. For example, when I type in `{{ .Values.xxx}}`, it will automatically give me hints on all available choices, and I can click it to *directly jump to that variable definition*. However, I cannot find how to do this with helmfile. Thanks very much!

[2020-10-01 02:27] fzyzcjy opened #1507 "How to disallow users to choose `default` environment"
Hi thanks for this excellent lib! I wonder how to prevent using default environment, but instead force the user to specify environment in `dev` and `prod`. In other words, `helmfile sync` is DISallowed, and `helmfile --environment dev sync` is OK.

Thanks!

[2020-10-01 04:52] giulioprovasi opened #1508 "Can't get templates to work"
Hey everybody,

I'm having issue with templating as specified [here](https://github.com/roboll/helmfile/blob/master/docs/writing-helmfile.md#merging-arrays-in-layers), here a basic sample:

**helmfile.yaml**
[code]

**domain.yaml**
[code]

And when running `helmfile --debug -e master -f helmfile.yaml template` I get the following :

[code]

Can someone point me to the right direction please ?

Che

[2020-10-01 08:02] fzyzcjy opened #1509 "`helmfile template` outputs nothing"
Hi thanks for the lib! When running `helmfile --log-level DEBUG --environment dev template`, no yaml file is generated. The stdout is as follows. Thus, I wonder what should I do to debug this issue? Thanks!

[code]

[2020-10-01 21:36] iAnomaly commented on #764
Would love to see the inverse of this supported for `presync` as well @mumoshu. I.e. `errorHandle: Warn` for `presync`.

[code]

[2020-10-01 21:59] mozai commented on #1418
I ran into this problem today, and a co-worker suggested a solution I did not expect.  Leaving it here for the next person to find.

[code]
`chart: '{{.Values.autoscaler}}'`  would evaluate to a string-serialized version of the mapping.
`chart: '{{.Values.autoscaler.chartname}}'` would error with "map has no entry for key "autoscaler" "
`chart: "{{.Values.autoscaler.chartname}}"` same result with

[2020-10-02 00:02] fzyzcjy commented on #1509
OK I solved it by upgrading helmfile into the latest version. Strange bug bug anyway it is fixed :)

[2020-10-02 00:02] #1509 closed

[2020-10-02 00:44] fzyzcjy commented on #1507
OK I give it a hack:

[code]

Now when you accidentially use default env, you will see

[code]

[2020-10-02 00:44] #1507 closed

[2020-10-02 08:27] dsuievalov opened #1511 "prepare hooks executed on apply even if the release is not fit into selector"
Have upgraded from old version `0.82.0` to `0.130.0` and found that `prepare` hooks are not filtered by selectors any more and execute each time on `apply`/`sync`. According to [README](https://github.com/roboll/helmfile/tree/v0.130.1#hooks) they should not execute:

[code]

Behavior of old version `0.82.0`:
helmfile-0.82.0.yaml
[code]

[code]

Behavior of new version `0.130.0`:
helmfile-0.130.0.y

[2020-10-02 14:27] ruckc opened #1512 "add --retain-tmp-values option"
It would be nice to have helmfile leave the temporary values files for debugging helmfile/helm/charts sometimes.  Even with helmfile --debug you don't know which computed values were put into which file, and the files are almost always cleaned up before you can inspect the temp values for a syntax error.

Maybe i'm doing it wrong, but I currently have a syntax error somewhere amongst 3 nested helm

[2020-10-02 22:05] #1455 closed

[2020-10-02 22:51] mmellin opened #1513 "QQ - is there support for values variables in hook arguments?"
Thanks for creating such a nice tool!

I would like to understand:
1) Are using values variables (either from the environment or `values:` key within release) is currently supported within the hook args?
2) If not, is there an alternative for variable arguments in Hooks based on an install environment?

### Issue
It looks like values variables from the environments, with the exception of those fro

[2020-10-03 00:20] GoldenMouse opened #1514 "Good way of targeting a single release at runtime"
What's a good way to target a single release? The answer appears to be using Labels but I'm also using Environment, so you end up having to specify Environment as well as the Name Label or nothing will be detected. The Environment may not be known at runtime outright so this is a problem.

environments:
  engineering:
  production:

releases:
  - name: myrelease
    namespace: myrelease
    instal

[2020-10-03 19:26] mmellin commented on #1513
I also found that while secret vars can be used as arguments, if they are not put last in the hook argument list, then other static arguments are left blank.

Working:
[code]

Not working:
[code]

When *not working*, the value within the bash script for arg2 is a blank value.

[2020-10-04 23:46] mumoshu commented on #1512
@ruckc Hey! Does `helmfile apply --retain-values-files` help?

[2020-10-04 23:49] mumoshu commented on #1514
@GoldenMouse Hey! Any release with `installed: false` is excluded from processing. Maybe you're misusing `installed` with environments? Or you could provide me detailed explanation on why you had to combine `installed` with environments.

[2020-10-05 00:00] GoldenMouse commented on #1514
@mumoshu I am misusing it.  Essentially I want to able to use Environments as well as Labels.  Helmsman has the -target option to target single Release.  For now I've settled with using just Labels with a `environment` label and Templates.  The end goal is to able to deploy to all Engineering releases  or selecting one release at a time, with ability to define values/options in those environments.

[2020-10-05 00:23] mumoshu commented on #1514
@GoldenMouse Thanks! I think I got what you mean - that makes sense. The default `Environment.Name` is `default`, so I guess you may find something like `installed: {{ or (eq .Environment.Name "engineering") (eq .Environment.Name "default") | toYaml }}` useful. (this isn't very elegant so any enhancement request on this would be welcomed btw)

[2020-10-05 09:03] dsuievalov commented on #1513
@mmellin values that we pass to the release can not be used for templating since they are passed to helm charts in the same way as you run `helm lint --values=<file-with-your-vars>`. Which is why you can not use `"{{ .Values.generic.val }}"` in hooks if it is not defined in environments values. As for the main issue with secret value `.Values.super_secret_pwd` - tried to reproduce the behavior but

[2020-10-06 02:58] hans-hsieh-asus opened #1515 "Templating value file doesn't work"
Hi, from [this](https://github.com/roboll/helmfile/issues/97) resolved issue, it looks like templating in value files is supported. However, I tested with the following files:
`helmfile.yaml`:
[code]
`values.yaml`:
[code]
And if I run `helmfile template`, I would get
[code]
Is there anything wrong with my usage? Thanks.

[2020-10-06 22:16] GolubevV commented on #1060
Just like @travisghansen, I was working on integrating Helmfile with ArgoCD, using CustomTool approach of the later to dynamically render results of the Helmfile.

@travisghansen  has provided a great script to make that work [here](https://github.com/travisghansen/argo-cd-helmfile/blob/master/src/argo-cd-helmfile.sh#L217), however the Api Versions capabilities do not work, as  **helm template** c

[2020-10-07 01:01] travisghansen commented on #1060
@GolubevV could you open an issue up on my project as well to discuss and possibly fix however best we can currently?

[2020-10-07 12:59] ztmr commented on #1512
The same request here.

Invoking as follows:
[code]
and `/tmp/values*` files get deleted every time.

[2020-10-07 16:02] Wihrt commented on #1515
Taken from documentation

To do what you are asking, you shoud rename your file with the extension .gotmpl instead of .yaml and it should work ;)

[2020-10-08 01:53] hans-hsieh-asus commented on #1515
@Wihrt Sorry, my fault. I didn't read the document carefully.
Thank you. :)

[2020-10-08 01:53] #1515 closed

[2020-10-08 13:47] dsuievalov commented on #865
Hello @TBeijen, have used the variable `HELM_SECRETS_DEC_SUFFIX` for a similar case. Have different variable values for each helmfile execution and secrets being decrypted with different names. In your case it may work like this:
[code]

[2020-10-08 14:19] j-zimnowoda opened #1517 "helmfile removes all decrypted files"
While working with helmfile, sometimes I am editing (.dec files (decrypted secrets)

The helm-secrets plugin ensures that

what is great feature, because I can easily change secret values and test them.

Unfortunately helmfile removes `secrets.yaml.dec` after it reads the file, so I loose data that I was working on.
I am wondering if any of you have ever had the same issue and how do you cope with

[2020-10-08 14:31] TBeijen commented on #865
@dsuievalov Thx, wasn't aware of that env flag. Will hopefully soon have time to give this a try.
(Btw, I assume the example should have `.yaml.dec.2` in the second occurence?)

[2020-10-08 14:34] dmpe opened #1518 ""A Region" for avoiding templating in valus.yaml.gotmpl files"
Hi,

My question or a feature request would be this:
I have a file `a.yaml.gotmpl` which is being templated. Now, what I would like to see is that there is some sort of `# region` section which avoids a certain section from being templated.

Meaning instead of potentially dealing with 2 files (`a.yaml.gotmpl` and `b.yaml`) I would like to have only a way where I can exclude certain parts from bein

[2020-10-08 14:38] dsuievalov commented on #865
@TBeijen yes, you are right :) Have updated the comment.

[2020-10-08 15:14] Morriz commented on #1517
Aha, it must indeed be the removal by helmfile that is causing this. I suggest to not do anything with the files at all and leave that to the user. Why would helmfile assume what a user will wants to do with these files? It should not be helmfile's concern.

No flag necessary :)

[2020-10-08 15:49] yurrriq opened #1519 "jsonPatches ignores lock file"
[code]

if a lock file exists we need to pass `--version <locked version>`

[2020-10-08 16:11] GolubevV commented on #1060
@travisghansen  - I can make a PR with a fix to the script that will change behaviour to provide each K8S APi version with a separate dedicated flag.

However, that would not fix the problem completely as some change in the helmfile logic is required to perform correct support for multiple flags  with the same key value (--api-versions), provided either via **--args** or **helmDefaults.args**  to

[2020-10-08 17:08] yurrriq commented on #1519
When jsonPatches is present, it seems selectors are also ignored.

[2020-10-09 12:19] Emixam23-FCMS commented on #863
So what's the concrete format? It's not clearly indicated in the doc at https://helm.sh/docs/helm/helm_upgrade/

[2020-10-09 13:58] Stono opened #1520 "Ordering issue with `--set` when using `needs`"
Really obscure bug this one but has broken our builds after upgrading to `0.130.1` from `0.111.0` to make use of `needs`

Given a pretty simple helmfile:
[code]

The following command is generated by our cli (lots of runtime set's):
[code]

Which results in this error:
[code]

So it appears the ordering of the args is getting messed up.

Removing:
[code]

And the error goes away!

[2020-10-09 15:45] Stono commented on #1520
Looks like some get repeated too like `global.version=could-not-get-git-revision (41 bytes)` appears 3 times 🤷

[2020-10-09 18:01] Stono opened #1521 "Intermittent failures"
We've recently upgraded from to `0.130.1` from `0.111.0` and are seeing intermittent failures particularly on helmfiles with multiple repositories.

This is the error:
[code]

The `helmfile.yaml`:
[code]

[2020-10-09 18:21] Stono commented on #1521
Potentially linked: https://github.com/helm/helm/issues/7526 - although not sure why it's just started happening?

[2020-10-09 19:30] kyounger opened #1522 "NOTES.txt are not included when using jsonPatches"
When including a jsonPatch for a release, the NOTES in chart are not installed. Here's a simple helmfile to reproduce the issue:

[code]

Tested on both:
helmfile version v0.129.4
helmfile version v0.130.1

[2020-10-10 10:39] Stono commented on #1521
Changed the title to reflect the fact we still see intermittent failures even with the local repo removed

[2020-10-10 10:45] Stono commented on #1520
@mumoshu any ideas? :-) I've refactored a whole bunch of stuff to use `needs` and I'm trying to avoid undoing it all haha.

[2020-10-11 05:47] azhang opened #1524 "same release name across different namespaces doesn't work"
In my helmfile.yaml, I have

[code]

running `helmfile apply` returns

[code]

Same error occurs if I select by namespace.

    helmfile -f helmfile.yaml -l namespace=prod apply

[2020-10-11 05:54] azhang commented on #1524
Turns out it's a different issue.

[code]
fails as well, so I think it's because i'm trying to deploy the same chart in multiple namespaces?

[2020-10-11 08:49] Romiko opened #1525 "postsync - execute complex command"
Hi,

I am not able to execute a complex command e.g.

`  - events: ["postsync"]
     showlogs: true
     command: "kubectl"
    args:
    - get
    - -n
    - service-compliance
    - pv
    - --no-headers=true | awk '{print $1}' | xargs kubectl patch -p '{"spec":{"persistentVolumeReclaimPolicy":"Retain"}}' pv`

It does not like subcommands in the argument, any ideas? Also tried it all in the comm

[2020-10-11 19:39] varunpalekar opened #1527 "Bug: helmfile lint error "apiVersion is required" when loading yaml manifest from git"
**Problem**:
Encounter the following error when trying to run `helmfile lint` when using yaml manifest from git

[code]

**Version:**
1. helmfile - `v0.130.1`
2. helm - `v3.2.1`

**helmfile**:
[code]

**Command**: `helmfile lint`

**Expected Behavior**: helmfile lint run with success

**Extra**: Looks like when we are generating dynamic helm chart for the crd we are not adding `apiVersion` informa

[2020-10-11 23:51] mumoshu commented on #1524
@azhang Thanks for reporting! I've seen this before - I thought this helm-dep-buidl error happens when multiple concurrent `helm dep build`s are executed on the same directory(=local chart).

I thought I had added some guard to prevent concurrent execution on the same chart, but probably there's still an edge-case? 🤔

[2020-10-11 23:53] mumoshu commented on #1524
So this may be a dupe/resurrection of #1438

[2020-10-11 23:57] mumoshu commented on #1520
@Stono Thanks for reporting! I really hope any bug like this prevented by our automated tests 😢 Let me confirm/fix this soon.

[2020-10-11 23:57] mumoshu commented on #1524
@azhang Which version of Helmfile are you using?

[2020-10-11 23:59] mumoshu commented on #1527
@varunpalekar Thanks for reporting/trying! This is going to be fixed via #1528

[2020-10-12 00:23] #1527 closed

[2020-10-12 02:02] mumoshu commented on #1520
@Stono Thanks for reporting! This doesn't reproduce for me at least when there's no `needs` in my helmfile.yaml.
Could you confirm if this happens only when you use `needs`?

[2020-10-12 07:40] Stono commented on #1520
@mumoshu yes, only when we set `needs`.

Take this example helmfile:
[code]

Create the simple charts:
[code]
And this command:
[code]

[code]

[2020-10-12 07:59] azhang commented on #1524
I am using v0.130.1... but I don't remember if I updated it before or after submitting the issue -_- I worked around it by using environments so it only builds the local repo once per run

[2020-10-12 08:41] mumoshu commented on #1524
@azhang Thanks for confirming! I couldn't reproduce this in the most recent version of Helmfile. It is guarded by this block of code: https://github.com/roboll/helmfile/blob/ff81b2f2792ea71762b1fde7c60085f2de6cde0c/pkg/state/state.go#L1113-L1120

TL;DR; this shouldn't happen as long as you use Helmfile greater than or equal to v0.125.9, AND you have exactly the same chart path in your releases.

[2020-10-12 08:42] mumoshu commented on #1524
@azhang It would be super helpful if you could confirm that this doesn't reproduce with newer versions of Helmfile. Once confirmed, you can safely use it without the workaround 😃

[2020-10-12 11:29] mumoshu commented on #1520
@Stono Thanks! That did help me catch the root cause. #1529 should fix it.

[2020-10-12 11:30] Stono commented on #1520
Awesome :-)
Thanks a lot @mumoshu - will let you know if it works when you publish a release!

[2020-10-12 11:35] mumoshu commented on #1521
@Stono Thanks for reporting. That's very odd and interesting - Do you actually have a chart repository named `local` added to your system before running Helmfile, or is it included in e.g. your `istio-collector`'s Chart.yaml dependencies section(helm 3), or `requirements.yaml`(helm 2)?

[2020-10-12 11:44] Stono commented on #1521
Hey @mumoshu,
`local` is added by default by helm.  Just to rule out some variance - I removed all charts (including local as we don't need it) from helm apart from our remote s3 chart:

[code]

Which then gave us a different error:

[code]

So then I noticed we only saw this where we have multiple releases in `helmfile`, so I tried setting `concurrency=1`.

We haven't seen any errors since settin

[2020-10-12 11:58] mumoshu commented on #1521
@Stono Thanks for the info - good to know. Seems like the `local` repo is added while running `helm dep build`? Then, it must have something to do with the fact that Helmfile running `helm dep build` concurrently against all the involved local charts.

Probably we have to disable concurrency there, to run `helm dep build` sequentially.

[2020-10-12 11:59] Stono commented on #1521
I think that sounds like a sensible approach @mumoshu !

[2020-10-12 16:03] Nitive opened #1530 "Support for helm's post-renderer flag"
Hello! We are using our own post-renderer with helm. It creates resources from JS files. We are basically writing charts using JavaScript. There are currently no easy way to integrate it with helmfile.

I want to add to helmfile ability to specify post-renderer, so I've written proposal how it may look like. There are no difference with how other helm flags implemented. If everything looks good le

[2020-10-12 20:26] zhilyaev opened #1531 "Default namespace"
# Feature proposal

## Current
[code]

## Proposal

[code]

[2020-10-12 20:33] philomory commented on #1517
Just to clarify, I (sort of) disagree with @Morriz  when he states that "I suggest not to do anything with the files at all and leave that to the user." In most use cases, Helmfile is the one creating these files, and it should definitely clean them up when it's done with them.

That said, Helmfile should definitely be checking to see if the decrypted files already exist before it does any decrypt

[2020-10-12 23:38] #1520 closed

[2020-10-12 23:44] azhang commented on #1524
I will try to test this out once I'm a bit further along so I don't accidentally mess up my current deploys! Thanks a bunch for the help!

[2020-10-13 00:00] mumoshu commented on #1521
@Stono Thanks for confirming! #1532 should fix it.

[2020-10-13 00:14] #1521 closed

[2020-10-13 00:21] mumoshu commented on #1460
@mattymo Thanks a lot for your feedbacks! The 1st and the 3rd items are addressed in #1533.

For the 2nd item, it seems take some time to implement as Helmfile internally run "chdir" for each sub-helmfile and we don't carry the original work dir for the entire Helmfile run.

As a workaround, you can add the absolute path to the current directory in the template like `helmfile write-values --output

[2020-10-13 00:36] mumoshu commented on #1495
This is being fixed via #1534

[2020-10-13 05:49] #1495 closed

[2020-10-13 17:53] atindrasingh1511 opened #1536 "Is there a way to skip creating a namespace even the namespace exist; using helmfile apply or sync"
/ # cat helmfile.yaml
repositories:
- name: stable
  url: https://kubernetes-charts.storage.googleapis.com

releases:
- name: mytraefik
  namespace: pr1099
  chart: stable/traefik
  labels:
    name: traefik-public
  version: 1.86.2

helmfile --log-level=debug apply

processing file "helmfile.yaml" in directory "."
first-pass rendering starting for "helmfile.yaml.part.0": inherited=&{default map[]

[2020-10-13 19:53] Morriz commented on #1517
@philomory I second that :)

[2020-10-13 23:15] polasekr commented on #1423
Has anybody looked into the issue?

[2020-10-13 23:31] mumoshu commented on #1423
@stjudecloud-cloudy @polasekr Hey! Due to how helmfile templating works, you need to put environments section before other configuration, and use of `---` to split the parts would give you the best behaviour you might have expected.

So please try rewriting it like:

[code]

[2020-10-14 08:46] dsuievalov commented on #1511
Hello guys, any update? Maybe helpfile logic was changed and this is the expected behavior?

[2020-10-14 10:06] Vad1mo commented on #1536
yes just set

[code]

[2020-10-14 10:07] Vad1mo commented on #1531
just don't set the namespace it will use the ns from the kube context. this is how we do it.

[2020-10-14 10:10] Vad1mo opened #1539 "How would I pass secrets files to helmfile via CLI?"
I would like to pass values and secrets as argument to the `helmfile apply`. The flag `--state-values-file`  **works only for values not secrets** .
I couldn't find the equivalent cli argument for the secret file

How would I pass secrets files to helmfile via CLI?

[2020-10-14 10:27] mumoshu commented on #1539
@Vad1mo Unfortunately It's impossible. The next possible way would be to use helmfile template to render some `secrets` items in your helmfile.yaml depending on what values you passed via `--state-values-set` or `--state-values-file`

[2020-10-14 10:28] mumoshu commented on #1511
Thanks for reporting. Let me check this tomorrow!

[2020-10-14 13:57] Vad1mo commented on #1539
thank you for the tip @mumoshu, I have some difficulties understanding your recommendation

[code]

and then helmfile --state-values-set secrets.yaml ?

in the meantime I solved it via `sops exec-file ` its a hack but it works

[2020-10-14 18:43] atindrasingh1511 commented on #1536
It worked. Thank you @Vad1mo

[2020-10-14 18:43] #1536 closed

[2020-10-14 23:38] mumoshu commented on #1539
@Vad1mo Hey! Assuming you wanted to give arbitrary secret files to a release, rather than an environment secrets file, I had something along the line of the below in my mind:

[code]

and run it like `helmfile --state-values-set secretFile=path/to/your/secrets.yaml.enc`

[2020-10-15 10:26] KarstenSiemer commented on #494
I did it like this:
[code]
the secret is looking like this:
[code]

[2020-10-15 11:10] dsuievalov commented on #1525
@Romiko Have you tried to spawn bash/sh?
[code]

It looks `command`/`args` format does not spawn bash/sh session and perform direct `exec` for the `kubectl` command. That is why the `|` does not work.

[2020-10-15 13:47] DnR-iData commented on #1499
:+1: for the feature.

Thx

[2020-10-16 01:31] sanjay-nag opened #1541 "helmfile test pod logs"
How do I dump logs from the pods created through `helmfile test`?

I find `helm test` has `cleanup`, `logs`, and `parallel` flags. What are the equivalents in `helmfile test`?

[2020-10-16 09:17] isindir opened #1544 "helmDefaults.devel missing documentation or example in README"
helmDefaults.devel missing documentation or example in README

[2020-10-16 09:18] isindir commented on #1544
Add PR #1543

[2020-10-17 15:30] semoac commented on #1350
Same issue here. On my case its only happens when I use `jsonPatches` in the release definition.

[2020-10-17 15:41] semoac commented on #1350
After reviewing the chart, It's looks like a problem with the requirements pointing to a directory that only exists when you clone the repository. When Helmfile runs `helm dep up`  the directory do not exist triggering the failure. ¿Anyone knows how to stop helmfile from running `dep up` on the charts? `--skip-deps` is not working on this case.

[2020-10-17 16:02] semoac opened #1547 "Add a way to disable dependency up when using helm-x"
Hi.

When trying to use helm-x features on third party charts like linkerd, the process fails because of missing directories being referenced as dependency on the chart. I know this sounds like a "chart problem" but it would be awesome to have a way to disable the process when is not needed (the linkerd chart already ships with its dependencies and helmfile can install the chart when not using hel

[2020-10-17 18:16] 4c74356b41 commented on #467
@mumoshu just hit this same error, started yesterday as well

[2020-10-18 23:48] #1544 closed

[2020-10-19 00:02] mumoshu commented on #467
@Xtigyro @4c74356b41 On which charts did you start seeing the error? (I doubt if it has something to do with the deprecation of stable and incubator chart repositories

[2020-10-19 00:19] mumoshu commented on #1547
@semoac Thanks for reporting. This sounds like an annoying issue. I'm going to add a way to circumvent it with an explicit configuration to disable `helm repo up` in this case. See https://github.com/variantdev/chartify/commit/a6ce547f8b9bc3429b420a645177b592c66ad7ad for initial change towards it.

[2020-10-19 00:48] mumoshu commented on #1350
I believe this is going to be fully resolved after merging #1548. Also see #1547 by @semoac

[2020-10-19 00:54] mumoshu commented on #1541
@sanjay-nag Good catch. We should definitely implement `helmfile test --logs` to add the flag to `helm test` called by Hemlfile 😃 Do you think supports for `cleanup` and `parallel` would also be useful? Then I'd implement them all.

[2020-10-19 02:41] sanjay-nag commented on #1541
@mumoshu thank you. I see `cleanup` already implemented, my bad! `parallel` would be a great addition - I would definitely use it.

[2020-10-19 12:20] 4c74356b41 commented on #467
with stable, yeah, but `helm pull stable/grafana` works fine, so it looks like you are correct here.

[2020-10-20 10:23] isindir opened #1551 "Printing error message to stdout together with templated resources"
Fix is in #1550

### Problem statement

When `helmfile template` includes other helmfiles using glob and the directory and helmfiles do not exist, an error message is printed to stdout together with rendered k8s resources, which makes it impossible to use without manipulation with tool like `kubeval` for example.

Example piece of code in `helmfile.yaml`:

[code]

Which may produce something like:

[2020-10-20 13:19] polasekr commented on #1423
@mumoshu
I tested your version of helmfile and I can confirm that it behaves the expected way. Thank you for your solution.
At the same time I am wondering, where I could do more reading on the topic of helmfile rendering, so I have better understanding of the solution itself. Would be possible to refer me to a specific section of documentation? Thank you again for your help.

[2020-10-20 22:03] daaain opened #1552 "Rendering Helm chart template for a single release, ignoring `needs`"
Is it possible to run `helmfile template --selector name=x` to output the template for a release which has `needs`?

I updated to `0.132.0` but still can't get around `in helmfile.yaml: "x" depends on nonexistent release "y"` 😿

I'm trying to run some tests like `kubeval` and `kube-score` on the "final" release output as the YAML can be quite different based on the values in the Helmfile if the ch

[2020-10-22 07:33] tstmrk opened #1553 "How can I iterate over files within a certain folder?"
I have this one (the helm way?), but it gives an error

`
{{- range $path, $bytes  := .Files.Glob "secrets-volume/**" }}

{{- end }}
`

error message:
`
in ./helmfile.yaml: failed to render values files "config/0-default/values.yaml.gotmpl": failed to render [config/0-default/values.yaml.gotmpl], because of template: stringTemplate:17:34: executing "stringTemplate" at <.Files.Glob>: can't evaluate

[2020-10-22 17:27] jseiser opened #1554 "Can we specify Concurrency via the config?"
In a situation where we are creating a bunch of TLS secrets, which causes the too many files error.  I know i can add concurrency on the CLI, but is there a way to specify it in the helmfile config itself?

[2020-10-23 04:08] RaymondKYLiu commented on #1553
Try this one with `exec`
[code]

[2020-10-23 05:46] azhang commented on #1524
It worked with the newer version! thanks again!

[2020-10-23 05:46] #1524 closed

[2020-10-23 11:26] tstmrk commented on #1553
Great, that worked! Thank you very much!

[2020-10-23 11:27] #1553 closed

[2020-10-23 15:26] yciabaud opened #1555 "Error when using fromYaml | mustToJson in template"
Hi there,
I have an error when chaining fromYaml and toJson with structured data.

Example:
`{{ printf "o:\n  p1: v1" | fromYaml | mustToJson }}`

It results in an error from helmfiles saying:
`failed to render [test.gotmpl], because of template: stringTemplate:11:46: executing "stringTemplate" at <mustToJson>: error calling mustToJson: json: unsupported type: map[interface {}]interface {}`

Somet

[2020-10-23 15:33] drimailorr commented on #704
seems like  release name should be equal to chart name, if you put something different in a chart key you'll get above error

  - name: test
    chart: charts/test

[2020-10-25 00:14] #1551 closed

[2020-10-25 02:26] #1547 closed

[2020-10-25 06:00] darkn3rd commented on #1340
I absolutely need this feature.  My use case is this use a namespace for the installation but also set the `subjects[0].namespace` in `ClusterRoleBinding.rbac.authorization.k8s.io`.  So the question is, how do I inject env var of `ROOK_NFS_OPERATOR_NAMESPACE` into the kustomize with helmfile?

[code]

In my `rook-nfs-operator-kustomize/base/operator.yaml`, I will have this:
[code]

[2020-10-26 14:40] Morriz commented on #1517
@mumoshu can I ask you to take a look here? I think it would save everybody a lot of time waiting for every file to be decrypted with every invocation of helmfile ;) It seems like a simple problem

[2020-10-26 21:23] Morriz opened #1557 "function "fromJson" not defined"
Hi, from reading #244 I was assuming this function to exist. Is is possible to get it in? It would be so useful!

helmfile version: v0.128.1

[2020-10-27 09:07] random-dwi opened #1558 "readFile not relative to template file"
Hi,

According to this https://github.com/roboll/helmfile/pull/340 calling `readFile` in a template file should be relative to the template file and not to the helmfile.yaml. For me it is relative to the later.

I have the following structure:
[code]

the `helmfile.yaml` looks like this:
[code]
the `environments.yaml.gotmpl` looks like this:
[code]

and I get the error:
[code]

when I add the pref

[2020-10-27 13:32] j-zimnowoda opened #1560 "Does helmfile template retain temporary files ?"
Hi,

I would like to access a temporary file, so I can debug issues there.
[code]

The  /tmp/values110545780 file does not exists after `helmfile template` exits with error.
Is there any option to retain temporary files?

I am using the following versions and plugins:
[code]

[code]
[code]

[2020-10-27 14:40] ruckc commented on #1560
I constantly run into this issue and I have not found a reliable way to see the temporary file contents.  I end up stumbling through my charts/values files trying to find the YAML syntax error.

I would really like a `--retain-tempfiles` option or `--keep-tempfiles-on-error`

[2020-10-27 22:19] Xtigyro commented on #1489
This still seems to be an issue with Helm `v3.3.4` and `v3.4.0`.

[2020-10-27 23:57] mumoshu commented on #1560
@ruckc`helmfile apply` has `--retain-values-files` for that. Do we need the same flag also for `helmfile template`?

[2020-10-28 07:04] j-zimnowoda commented on #1560
@mumoshu The helmfile template is very useful tool for debugging, developing and smoke testing states/values/charts all together. It also does not even require a k8s cluster - great.

Having '--retain-values-files' parameter for helmfile template would greatly improve my development workflow.

[2020-10-28 07:05] mumoshu commented on #1560
@j-zimnowoda Got it. Thanks for clarifying!

[2020-10-28 07:09] mumoshu commented on #1560
@j-zimnowoda Btw, does either or both of`helmfile build --embed-values` and/or `helmfile write-values` (https://github.com/roboll/helmfile/pull/1469) help your use-case, too?

[2020-10-28 09:27] j-zimnowoda commented on #1560
@mumoshu thanks for response and hints. It is good to know about these new parameters.
Unfortunately, they do not really help, because they do not print/write values for broken helmfiles
E.g.:
[code]
These files do not exist after calling `helmfile write-values`
Same for `helmfile build --embed-values, it does not render values for `helmfile-19.ingress-init.yaml`

helmfile version v0.132.1

Even i

[2020-10-28 22:44] amnk commented on #1497
@mumoshu sorry for silence. I downgraded to v0.124 and was using it 👍

As to your question: that means that I'm seeing two or more `Building ...` for one or many releases.

So my helmfile is composed of multiple releases, and CI deployes them using selectors. And it does not matter how many releases selector covers - I still this `Building ...`.

[2020-10-29 04:30] smlx commented on #1482
@mumoshu that message would be very useful, I just ran into this today and took a bit of searching to find this issue.

[2020-10-29 14:24] jseiser commented on #1552
https://github.com/roboll/helmfile/blob/16288dfa7da390bee208f46eaeb69061507c7ca8/pkg/state/state_run.go#L151

That appears to be where we are getting stuck.  I dont know go, but I assume this section of code has no idea if its a apply or a template.

[2020-10-29 14:41] daaain commented on #1552
I had a look in the code and it seems that the fundamental problem is that `template` seems to be running with the full `withDAG` release list: https://github.com/roboll/helmfile/blob/c170b5a62173872158ed424e7bcf3504bede9474/pkg/app/app.go#L1381

Whereas other misc ("non-executive", ie not touching k8s) commands like `diff` are in a different class and use custom code: https://github.com/roboll/he

[2020-10-30 16:30] Boxtell opened #1561 "helmDefaults attributes "wait" and "timeout" seem ineffective"
Hi,

I've spotted a strange behaviour with helmfiles. Indeed I would like that my helmfile don't wait for my deployment and my pod ready to proceed all of it actions.

Maybe I misunderstood the purpose of wait and timeout in helmDefaults attribute but it seem that wait is like a --wait flag and it's set to false by default.

I tried all the following parameters in my helmfile and I get the same be

[2020-10-31 11:13] Stono opened #1562 "Feature Request: Support concurrency in helmfile.yaml"
Hey,
There are some setups where we want to override the concurrency setting to 1, and would like to do that declaratively in our helmfile.yaml.

Would that be something you could support?

[2020-10-31 11:26] Stono commented on #1562
Actually; i can achieve what I need to do with `needs` :)

[2020-10-31 11:26] #1562 closed

[2020-10-31 20:30] mnaser opened #1563 "Nested state Helmfiles have no way of consuming secrets"
There currently seems to be no way after my research of using secret values inside in combination with a nested-state file.  The only field allowed is `values` which includes bare files and `secrets` does not support it.

I have not been able to workaround this in any feasible way.

[2020-11-01 10:07] dudicoco commented on #1255
@mumoshu there are a couple of issues here:
1. The helm debug output is also shown if the release fails, according to https://github.com/roboll/helmfile/issues/1289 this is due to the debug output being sent to stderr.
2. The output is shown only at the end, giving no visibility to the progress of the deployment.

I think the helm debug output is super important as without it you have zero visibil

[2020-11-02 00:12] mumoshu commented on #1552
@daaain @jseiser Thanks for reporting and the info! After some debugging, I realized that I had mistakenly inverted a necessary flag that resulted in the  `--selector` is applied and processed "before" computing the DAG. #1564 fixes that.

Just to be clear, the important point here is that we need to [compute the DAG with all the releases](https://github.com/roboll/helmfile/blob/ee0a53cc77a8a1837a

[2020-11-02 08:43] drimailorr commented on #118
Hello @mumoshu
Some time ago in this conversation you've been mentioning implementation of own dry-run mode for hooks by using envvar like HELMFILE_DRY_RUN=1
In which state this work at the moment ?

[2020-11-03 10:57] kaaquist opened #1565 "Question: helmfile lint - produces error on deprecated apiVersions"
Question First off great product.
I'm using the `helmfile lint` command to do linting on the helm charts I use in my setup.
From what I can read the `helmfile lint` uses `helm lint` as sub-command to do the linting?
In `helm` the linting does not produce an error on deprecated fields like `apiVersion`, which mean my jenkins build, where I perform my linting, does not break. But when using `helmfil

[2020-11-03 14:49] akinross commented on #1561
Hi,

It seems I am bumping into a similar issue just now, are you using helm 3.x?

Timeout input in helm has changed in version according to docs.

v2.x:       --timeout int              Time in seconds to wait for any individual Kubernetes operation (like Jobs for hooks) (default 300)

v3.x:       --timeout duration             time to wait for any individual Kubernetes operation (like Jobs for h

[2020-11-03 16:12] Boxtell commented on #1561
Hi,

Actually I am using **helm v3.3.4**.

I've missed this issue (#863) but it seems that the fix didn't solved the ineffective `wait: false` argument.

By the way, thanks for your answer !

[2020-11-03 16:34] akinross commented on #1561
Hi,

I am also using v3.3.4 and for me timeout seems to always get set to the default value.

Issue I pointed out was not a fix for this issue, but thought let's highlight it since they might be related.

[2020-11-03 17:28] rdrim commented on #1511
The same on my side. Seems like just prepare hooks are affected.
Presync hooks are getting filtered by selector just fine.

[2020-11-04 00:29] #1552 closed

[2020-11-04 02:12] abatilo commented on #1281
Would love to follow up on this. I'd like to see a way to modify resources like the EKS installed `coredns`

[2020-11-04 08:47] dudicoco commented on #1281
@abatilo i've ended up importing the resources with a script on all of our existing clusters (just annotate and add labels to the resources).
I've also created a script which deletes the EKS resources (coredns, kube-proxy, aws-node) on new clusters prior to installing these components with helmfile.

[2020-11-04 16:30] bitsofinfo opened #1567 "0.132.2 + helm 3.4.0: repo "https://kubernetes-charts.storage.googleapis.com" is no longer available"
anyone else getting these errors now even after updating the repo locations?

helmfile 0.132.2
helm 3.4.0

[code]

[code]

[2020-11-04 16:33] bitsofinfo commented on #1567
duh!

[code]

[2020-11-04 16:33] #1567 closed

[2020-11-05 00:43] mumoshu commented on #1497
@amnk Hey! I believe #1566 fixes this as well. Would you mind giving it a shot?

[2020-11-05 00:43] #1497 closed

[2020-11-05 00:43] #1511 closed

[2020-11-05 00:54] mumoshu commented on #1511
@dsuievalov @rdrim I believe this has been fixed via #1566. Would you mind trying v0.132.3?

[2020-11-05 01:15] mumoshu commented on #1541
@sanjay-nag `--logs` will be added soon via #1569

Unfortunately, `--parallel` turned out to be not yet ported to helm 3 according to https://github.com/helm/helm/pull/4144#issuecomment-585128017.
The good news is that it's coming in https://github.com/helm/helm/pull/8946!

[2020-11-05 10:51] rdrim commented on #1511
@mumoshu Thank you for the fix, works like a charm.

[2020-11-05 10:53] dsuievalov commented on #1511
@mumoshu yes, working fine. Thank you very much for fixing it and for your time on this :)

[2020-11-05 15:41] jvergara-runbuggy commented on #1134
Hey, you can look at the image created by Codefresh:
[https://github.com/codefresh-contrib/cfstep-helmfile](https://github.com/codefresh-contrib/cfstep-helmfile)

[2020-11-05 19:52] mlagran1 opened #1572 "Set arguments under release aren't being picked up"
Hey -- I'm having issues deploying with the `set` block under my release. When I deploy my chart, the `set` arguments I'm adding aren't showing up. Unfortunately, the chart only deploys *if* I pass the filebeat command as a set argument. It doesn't read the value correctly if it's set in values file.

helmfile.yaml:
[code]
Output on failure:
[code]
I should see the `--set filebeat.filebeatConfig`

[2020-11-05 22:44] kaaquist commented on #1565
never mind.. found a way to skip checks for these here charts.

[2020-11-05 22:44] #1565 closed

[2020-11-06 00:23] #1517 closed

[2020-11-06 00:28] mumoshu commented on #1517
@j-zimnowoda @Morriz Hey! Thanks for all the info and the feedback.

In #1570, I've added `helmfile template --skip-cleanup` - as the name says, this retains all the temporary values files rendered by helm-secrets-decrypt and helmfile itself.

Please try it with `helmfile --debug template --skip-cleanup`, so that you can uniformly debug any rendered values files regardless of how it's produced (he

[2020-11-06 09:07] Morriz commented on #1517
Ah, that is a big step forward. I assume that means the next command will not decrypt the files again. (Since they are found on disk and to be newer.) That would be a huge performance gain for our development workflow.

Let's see when it lands in the next release

[2020-11-06 13:04] j-zimnowoda commented on #1517
Hi @mumoshu thanks for feedback and adding a new feature!
I am pretty sure that your PR relates to another issue: #1560, not this one.
Could you double check it?

[2020-11-06 13:38] pjotre86 opened #1574 "Check for alternative env variable"
Let's say we have the following:
[code]
Now, I'd like to check on another env variable for the namespace before the default fallback is used. Something like:
[code]
Unfortunately I couldn't figure out how to do this `<OR ELSE>` in an elegant (not too verbose) way.
This is working, but I was wondering if there's a better way to do this, it feels very cluttered:
[code]
Any hints are appreciated!

[2020-11-06 17:36] andrewnazarov commented on #1574
You can give `coalesce` a try

Probably something like this:
[code]

[2020-11-06 18:32] Hmr-ramzi opened #1575 "Generate a config map in a .yaml.gomlp file from files inside hierarchical Folder"
Is it possible to read all files (maybe also with paths) that are inside a hierarchical Folder to create a configmap out of it in a .yaml.gomlp file (template)?

[2020-11-06 19:30] elemental-lf opened #1576 "Support for matching multiple resources for applying patches via kustomize"
With https://github.com/roboll/helmfile/pull/673 `helmfile` gained support for applying patches via `kustomize`. The `helmfile` directives `jsonPatches` and `strategicMergePatches` are translated to `patchesJson6902` and `strategicmergepatches` in the generated `kustomization.yaml` by https://github.com/variantdev/chartify.

Unfortunately both of these directives don't support patching multiple Ku

[2020-11-06 19:46] jseiser opened #1577 "Cross Namespace Network Policy?"
Just hit a roadblock, and not sure how to handle this.

Helmfile does our installs.  Something are in kube-system ( nginx ingress ), other things are in namespaces per env/app

so

qa1/app1
qa1/app2

etc.

With helmfile creating namespaces, and those namespaces being unlabelled, I cant figure out a way, in code, to label these namespaces so they can be used in Network Policies.  I dont want to do

[2020-11-06 20:45] dudicoco opened #1578 "passing args and templated values to helmfile hooks"
Hi,

I have a helmfile presync hook which calls a script to expand a statefulset's pvcs in case the size has changed in the `volumeClaimTemplates`.

I'm currently facing a couple of issues:
1. In the CI process, we are running `helmfile apply --args "--dry-run"`. How can I pass the `--dry-run` flag to the hook's args in that case so that I would know to skip the volume expansion within the script?

[2020-11-08 17:00] pjotre86 commented on #1574
`coalesce` did the trick. I think `printf "%s"` is not even needed. For me this is working:
`namespace: {{ coalesce (env "MY_SERVICE_NAMESPACE") (env "DEFAULT_NAMESPACE") "default") }}`
Much nicer than what I had, thanks you very much!

[2020-11-08 17:11] pjotre86 opened #1579 "Go Template Variable Defninitions in separate File"
Hey!
I have a lot of variable definitions on top of my helmfile. I'm wondering if it's somehow possible to pull them out to a separate file and therefore include them in my helmfile. That would result in a less cluttered and easier to read helmfile.
To be clear, the external file would really just contain variable definitions like:
`{{ $myVariable := "myValue" }}`
I tried to do it with `readFile`

[2020-11-09 00:04] mumoshu commented on #1340
@darkn3rd Hey! How do you define `ROOK_NFS_OPERATOR_NAMESPACE` in your kustomization? Is it just an entry under kustomize [vars](https://kubectl.docs.kubernetes.io/references/kustomize/vars/)?

AFAIK, it's kustomize's own restriction that you can't inject arbitrary built-time args. I'm not sure how we workaround that.

[2020-11-09 15:06] jseiser commented on #1577
so i thought about using hooks, but that would require making sure everyone kube-context is correct when they run it.

[2020-11-09 15:28] jseiser commented on #1577
Example

[code]

This works if my current kube-context is "arn:aws:eks:us-east-1:1234:cluster/eks-qa", fails if its not.  We actually run this from Jenkins, so that adds another layer, because we run mostly of these like this.

[code]

Since we have multiple clusters, we generate the context on the fly.

[2020-11-09 15:32] jseiser commented on #1577
Error when the kubecontext is wrong

[code]

Which leads me to think, this line is doing nothing.

"{{`{{ .Release.KubeContext }}`}}"

[2020-11-09 16:00] jseiser commented on #1577
Hard coding the kubecontext, works on my system and in Jenkins.

So the basic premise of this, should be OK.  Would love to be able to use the already defined, context.

[2020-11-10 18:16] mlagran1 commented on #1572
Any suggestions on this?

[2020-11-11 23:58] #1433 closed

[2020-11-12 15:18] dbluxo commented on #1163
Same here with version `v0.134.0`

[2020-11-12 18:49] dmmsonos opened #1585 "`createNamespace: false` still passes --create-namespace"
Helmfile `0.134.0` and `0.134.1`
Helm `3.2.1` and `3.4.1`

helmfiles/base.yaml
[code]

helmfiles/name/helmfile.yaml (values replaced with generic values)
[code]

command:
[code]

This results in the following for the first included helmfile (values replaced with generic values):
[code]

Notice that `--create-namespace` is being passed despite disabling that with the base file. Explicitly setting `

[2020-11-12 19:57] #1316 closed

[2020-11-12 19:57] Morriz commented on #1419
Any updates here?

[2020-11-12 20:09] Morriz commented on #1353
I am re-reading this again, and am concerned this will happen again soon: CRDs don't get deployed, even though helm 3 supports deploying both CRDs and CRs at the same time.

we would like to be able to add repeatable, indempotent instructions to apply a chart to a cluster, so I would like to ask if helmfile might have solved this problem already in the mean time?

@mumoshu thanks again for your he

[2020-11-13 05:38] mumoshu commented on #1353
@Morriz Perhaps we can just enhance Helmfile to set `--disable-openapi-validation` to helm-diff only when the target release is not yet installed? So that helm-diff would never fail due to missing CRD on first install.

Related https://github.com/databus23/helm-diff/pull/228

[2020-11-13 06:00] reixd commented on #1353
Using helm 3.4 and latest helmfile 0.134.1 and still having this very problems while installing charts with CRDs for the first time into an empty EKS 1.18 cluster.
Mainly affects cert-manager and aws-load-balancer-controller.

[2020-11-13 06:04] mumoshu commented on #1353
Thanks!

The current workaround is to install the stack with `helmfile sync` for the first time, to skip diffing at all.
After that you can add `disableValidation: true` to your releases depending on the req.

[2020-11-13 06:20] reixd commented on #1353
Yeah, it works, however this also breaks a workflow where you perform some checks before apply: lint, template validate, diff and apply

[2020-11-13 06:23] mumoshu commented on #1353
@reixd I hear you. Do you think https://github.com/roboll/helmfile/issues/1353#issuecomment-726533131 would resolve your issue?

[2020-11-13 06:24] mumoshu commented on #1353
Basically, it's a bit more elegant version of `if helm list | grep your-crds-release; then helmfile apply; else helmfile sync`.

[2020-11-13 06:33] reixd commented on #1353
Yeah, I think a patch with this logic would help. If released will give a try today ;)

[2020-11-13 08:04] Morriz commented on #1353
But how is that automated? How can a stateless script detect that a first install is needed?

[2020-11-13 08:12] mumoshu commented on #1353
That really depends on your setup. If you have only single release for all the CRDs, the workaround works. If the list of releases that contains CRDs changes dynamically, the only way would be script something better on your own, or wait for https://github.com/roboll/helmfile/issues/1353#issuecomment-726548807

[2020-11-13 18:44] Morriz opened #1586 "field skipDeps not found in type state.HelmSpec"
When setting
[code]
I get this error on diff:
[code]

I am using version v0.128.1 with helm v3.3.1

[2020-11-14 02:34] mumoshu commented on #1586
@Morriz Assuming you've filed this as a bug, this isn't. It isn't implemented in the config file as it's operational concern to whether skip deps or not.

[2020-11-15 06:28] Romiko commented on #1525
Thank you , this works!

[2020-11-15 06:28] #1525 closed

[2020-11-16 15:05] cp38510 commented on #1124
I trying:
  - name: prometheus-operator
    chart: prometheus-community/kube-prometheus-stack
    disableValidation: true

or:
  - name: prometheus-operator
    chart: prometheus-community/kube-prometheus-stack
    disableOpenAPIValidation: true

but I get errors:
[code]

or:
[code]

[code]

what error can there be?

[2020-11-17 17:54] Morriz commented on #1586
But it is advertised as such [on the main page](https://github.com/roboll/helmfile):
[code]

[2020-11-17 21:11] eigood opened #1591 "Can't use 'path' in jsonPatches, to reference an external file."
==
OUTPUT:
  Error: trouble configuring builtin PatchJson6902Transformer with config: `
  path: ./patch-ingress-cert-issuer.yaml
  target:
    group: networking.k8s.io
    kind: Ingress
    name: moqui-ingress
    version: v1beta1
  `: evalsymlink failure on '/tmp/chartify221811581/patch-ingress-cert-issuer.yaml' : lstat /tmp/chartify221811581/patch-ingress-cert-issuer.yaml: no such file or direct

[2020-11-17 23:56] mumoshu commented on #1586
Whoa really! Let's me check

[2020-11-18 21:23] #1577 closed

[2020-11-18 21:27] jrowinski3d opened #1593 "Question: Possible to use release tags in a templated helmfile?"
Hi there,

Fairly new to helmfile but seems like it can solve a lot of my problems and get me moving towards my end goal. I'm playing around with the templating my helmfile to manage releases and environments.

My issue:

I noticed that when I run a sync for **app-a** for a specific enviornment it creates a release in helm as **app-a** . My desired state would be that it would be called **demo-app

[2020-11-18 22:07] jrowinski3d commented on #1593
Seems I have solved my own question, for anyone that comes this way. I believe the **name** label is some reserved name for releases. I switched it to **tier** , I guess it can be whatever you like.

Helmfile now:

[code]

Results:

[code]

Pods:
[code]

[2020-11-19 05:54] jrowinski3d commented on #1561
Also facing this issue, using Helm 3.3.4

I'm assuming this switch is supposed to have some conditions based on it as well? ie if a Job/Cron completes or fails etc?

Also is it supposed to in theory **wait** until the specific release is finished to move onto the next one?

[2020-11-19 10:52] elemental-lf commented on #1576
This should be addressed by https://github.com/roboll/helmfile/pull/1592 because the `patches` section is implemented via the `PatchTransformer` plugin which should also be usable via the way implemented in #1592. And there are also the `AnnotationTransformer` and `LabelTransformer` for my specific use case. Thanks @mumoshu!

[2020-11-19 10:52] #1576 closed

[2020-11-19 22:37] jwilkicki commented on #1348
Hi!

I'm having a similar problem and the examples you have here haven't really cleared them up for me.  The `{{ get "second.enabled" .Values false}}` that you list actually crashes for me.

In my case,  I want to have  a helmfile that has a small set of releases that are enabled by default and then a larger set of optional releases that are disabled by default but can be turned on by passing info

[2020-11-22 15:02] jkroepke commented on #767
For Windows support, take a look at https://github.com/jkroepke/helm-secrets

It‘s a drop in replacement for zendesk/helm-secrets.

[2020-11-22 17:23] jkroepke opened #1595 "Dependencies between releases?"
Hi,

it is possible to define dependencies between releases?

For example, I have the cert-manager Chart and an 2nd chart to provide a ClusterIssuer (CRD of cert-manager). The 2nd chart should wait until the cert-manager Chart is installed. Otherwise the 2nd chart would fail.

[2020-11-23 07:16] jfelten commented on #1341
I just ran into this on a chart with a dependent chart when doing a helmfile lint

[code]
[code]

[2020-11-23 07:26] jfelten opened #1596 "helmfile lint generates invalid names causing linting failure"
[code]
[code]
[code]

Error:
[code]

[2020-11-23 07:46] reixd commented on #1595
Hi @jkroepke, I solved this type of dependency like this:

[code]

Take a look at the `needs` keyword. See [DAG-aware installation/deletion ordering](https://github.com/roboll/helmfile/blob/master/README.md#dag-aware-installationdeletion-ordering)

[2020-11-23 10:42] jkroepke commented on #1595
Great. it should be mention here, too. https://github.com/roboll/helmfile#configuration (I tough, all options are mention here.)

I was looking for "depends" or "dependency", but I found nothing. Thanks.

[2020-11-23 10:42] #1595 closed

[2020-11-24 10:53] danielefranceschi opened #1597 "helmfile panics when helm3 warns about k8s configfile access mode"
Context: helmfile **v0.135.0**, helm **v3.3.3**, **WSL2** (debian sid), docker desktop on Windows 10.

As in WSL2 my `~/.kube` is a symbolic link towards `/mnt/c/Users/xxxx/.kube` on a windows partition, it has `0777` access mode (and I did not find any way to circumvent it).

Infact, helm on WSL warns me each time:
[code]
Then, running `helmfile apply` gives me this stacktrace:
[code]
In my own h

[2020-11-24 11:41] danielefranceschi opened #1598 "documentation: specify helm plugins in requirements"
Context: helmfile **v0.135.0** (binary install), helm **v3.3.3**, WSL2 (debian), **no helm plugins**.

Running `helmfile apply` gives:
[code]

Please state that the `helm-diff` plugin is a **strict** requirement for non-docker usage.
(and I suppose the `helm-secrets` is too)

/label documentation

[2020-11-24 11:41] jkroepke commented on #1595
Note: helm diff will fail here on first install:

[code]

[2020-11-24 12:03] gmelillo opened #1599 "Helmfile environment list"
It will be nice to have a command that will return the list of environment configured in `helmfile.yaml` to be used in addition to `build` and `list`.

[2020-11-24 12:10] jkroepke opened #1600 "Allow helm diff failures"
Follow up from: https://github.com/roboll/helmfile/issues/1595#issuecomment-732886578

If a Chart wants to install CRD and Resources, helm diff may fail.

As I know a common workaround in helmfile is to disable the validation (https://github.com/roboll/helmfile/issues/1124 and. https://github.com/roboll/helmfile/pull/1373).

But validation is always good and protect agist spell issues or wrong ind

[2020-11-24 19:47] jkroepke opened #1601 "Support kubectl builtin kustomize"
Hi,

I tried `strategicMergePatches`  do today, but It failed because `"kustomize": executable file not found in $PATH`.

Since kubernetes 1.14, kustomize ist part of the kubectl command (kubectl kustomize). The standalone kustomize binary should not required anymore.

[2020-11-24 22:22] eigood commented on #1601
My coworker said that this is because the kustomize in kubectl is old, and not featureful enough as the standalone version.

[2020-11-24 22:25] eigood commented on #1531
Copy a feature from docker-compose; anything that starts with 'x-' is ignored and not validated by the parser, but can then be used as an anchor.  And then you could have mulitple ``<<: *foo`` entries

[2020-11-24 22:42] jkroepke commented on #1601
Maybe not all feature are required for helmfile?

[2020-11-24 23:07] danielefranceschi commented on #1597
This is related to https://github.com/helm/helm/issues/8776, so it does not occur with helm **v3.4.1**

[2020-11-25 07:06] TheKangaroo opened #1602 "Question: How to avoid deployments in wrong contexts"
Hey all, this may be a silly question, but I started using helmfile and it's so helpful we are in the process of migrating all of our deployment to it :)
But heres the problem I had multiple times lately:
I work with lots of different clusters and I always have to check my current context before deploying from my local machine. And some times I just accidentally deployed to the wrong cluster, whic

[2020-11-25 07:52] reixd commented on #1602
Hi @TheKangaroo, we use the following "solution" for this same problem:

* We have a Makefile which contains the commands for helmfile specifying the kubeContext based on env vars

[code]

[2020-11-25 13:46] TheKangaroo commented on #1602
Okay, I though of something similar to this, thanks for the example :)
Although I hoped for a more _helmfile-native_ way of doing it, without the need for scripts/Makefile

[2020-11-25 15:11] elordahl commented on #1241
hey @Vad1mo, did you ever find your elegant solution?

[2020-11-26 07:35] Vad1mo commented on #1241
No, I use labels in Helm and rerun the same helmfile twice 1 installing core 2 install CRDs stuff for example

[2020-11-26 13:33] Sleeplessprodigy commented on #1597
For me using helm producing the same error even on v3.4.1.

I am using helm within a docker container to use as a dev container for VS-Code.

[code]

not sure how to resolve this issue.

[2020-11-26 13:50] danielefranceschi commented on #1597
I don't see the crash: do `helmfile apply` or `helmfile sync` crash?

Since `v3.4.0` helm sends the `WARNING:` lines to stderr. while in `v3.3.x` on stdout: that's the reason helmfile breaks, because it does not expect those lines in helm output.

Issue can be solved with some filtering in the helmfile go code, or upgrading helm to `v3.4.x`. The devcontainer you're using _should_ be ok.

[2020-11-26 15:55] elordahl commented on #1241
thanks -- using the `disableValidation: true` is what i'm using.  perhaps not so nice, but no need to run twice.

[2020-11-26 16:15] gnarea commented on #764
As a workaround, I'm having to wrap `helmfile` in another script that checks if any hooks failed. A hook can signal that it failed by writing to a file in the event of failure. See: https://github.com/relaycorp/cloud-gateway/commit/065324673be354e85b94e65b8a65a8ff8d874bdf

[2020-11-26 20:55] chrismellard opened #1605 "helmfile.yaml cannot be marshaled correctly to YAML via state.HelmState struct making it impossible for programmatic manipulation"
Over in jenkins-x we manipulate `helmfile.yaml` programmatically in order to resolve various versions of charts against a version stream - this means we need to be able to correctly marshal valid YAML back to disk. There is already a custom unmarshaler that deals with `SubHelmfileSpec` but no corresponding marshaler.

[2020-11-26 20:55] chrismellard commented on #1605
resolved by #1604

[2020-11-28 13:55] alexku7 commented on #469
I have additional suggestion for improving .

The ability to specify  the chartmuseum as the source of custom values files.
The scenario is similar to the original proposal of using the git for the storing  the charts

As mentioned before, we are using the chartmuseum as the "source of truth" for each environment (dev, testing, staging, production)  and not git. We have found it more useful and co

[2020-11-29 10:23] maxaudron commented on #1351
In my case I want to add some annotations needed by gitlab in the CI, a lot of charts don't expose that via templating, but a simple kustomize.yaml will do:
[code]
(the environment variables are resolved in the shell in my case, just an example)
(and this also uses another PR I just made to kustomize to allow directly reading from stdin kubernetes-sigs/kustomize#3288)

I'd also be in favor of the

[2020-11-29 23:54] mumoshu commented on #1351
@maxaudron Perhaps you can just use Helmfile's `kustomize transformers` support? https://github.com/roboll/helmfile/blob/master/docs/advanced-features.md#transformers

[2020-11-30 12:42] yelhouti opened #1606 "appVersion incorrect when calling helmfile repos because of chartify"
chartify defaults the appVersion to same value as (Chart)version, breaking charts that do not follow this.

using helmfile, we should be allowed to set a different value for the (chart)version and appVersion, and even decide not to set the appVersion to use the one that chart defaults to.

https://github.com/variantdev/chartify/issues/4

[2020-12-01 16:00] felipecrs commented on #1134
If running as the user in the host is indeed needed, the best solution that I can think of is [`fixuid`](https://github.com/boxboat/fixuid).

[2020-12-02 01:28] btashton commented on #1552
@mumoshu maybe I am not quite understanding the feature, but when I use the selector I see the DAG get rendered in the debug, but none of the needs resources are included.

[2020-12-02 15:48] jbadeau opened #1608 "transform fails due to no kustomization.yml"
Hello,

I am using

Helmfile: 0.135.0
Kustomize: 3.8.7
Helm: 3.3.0

I have tried your kustomize transformer inline example and added the following to my release:

[code]

I get the error:

[code]
The dir C:\Users\jbadeau\AppData\Local\Temp\kustomize-535000131\repo does not exist?

Any ideas?

[2020-12-02 15:53] svatwork opened #1609 "Using helmfile methods in a Go REPL"
Hey, thanks for all the effort in the project.

I was wondering if someone could help me out with a query. My team has a project and made use of the custom helmfile functions for evaluating go templates, ie.

README.md
[code]

I'm kinda new to Go and although I can import these methods from github.com/roboll/helmfile/pkg/tmpl, I noticed they are "private" functions by using lowercase for the funct

[2020-12-02 16:31] CelestePhutela opened #1610 "Unable to read a list of maps stored in vault"
I have a json object stored in hashicorp vault of type

[code]

I have tried various syntax in my helmfile to read this value

1 `teams:  ref+vault://path-to-secret#/teams`  -> Couldn't read the key (According to docs this should work)

2 `teams:  ref+vault://path-to-secret/teams`  ->  Can read the key but instead of returning a list it is returning a string
`[map[name:up-to-date secret:value]  ma

[2020-12-02 16:46] tomassatka commented on #1489
+1

[2020-12-02 17:09] tomassatka commented on #1608
+1

[2020-12-02 20:35] jwilkicki opened #1611 "Using strategicMergePatches or jsonPatches with helm chart containing a CRD fails"
Hi!

I'm currently working with a helm chart to install the kiali dashboard for istio.  The kiali-server chart is available from https://kiali.org/helm-charts   It doesn't expose a way to change its service type from ClusterIP to LoadBalancer so I wanted to use kustomize to manipulate the service definition before applying it.

I've tried with these two approaches:

[code]
[code]
(I apologize if t

[2020-12-03 04:42] mumoshu commented on #1608
Perhaps we don't have the propoer support for Windows there? (It's definitely working on Linux/macOS that I have

[2020-12-03 05:06] jbadeau commented on #1608
Ok, I will run it in our pipeline to check that. Do you plan to  support windows?

[2020-12-04 11:10] svatwork commented on #1609
So I found out that the Sprig library has documentation how I can use it in development.
Load the Sprig library

[code]

How can I do something similar and import the functions in this repository?

[2020-12-04 11:23] svatwork commented on #1609
I found this createFuncMap function:

[code]

but I don't think I can call it directly like with the Sprig library, can't I?

[2020-12-04 12:50] atcvetkov opened #1613 "Unable to set env variable in the template"
I want to use the following template:

[code]

here is the release file, where I call this template:
[code]

but helmfile is unable to process it:
[code]

at the same time, everything works ok if I remove __{{ requiredEnv "IMAGE_TAG" | quote }}__ and just replace it with the specific value.

You can see that the template is able to work with the environment variables when I use them in the path to

[2020-12-08 05:01] gsimoes opened #1615 "helmfile repos command with jsonPatch tries to fetch the chart before adding the repo"
When running `helmfile repos` and the release configuration has `jsonPatches`, it tries to fetch the chart before adding the repo. I'm not sure if should even fetch the chart using this command as my thinking is it should just add the repos.

[code]

[2020-12-08 12:37] #1609 closed

[2020-12-09 07:45] jomach commented on #1242
same issue here.

[2020-12-09 23:51] skpullano opened #1617 "Syncing helmfile.yaml versions from helmfile.lock"
Hi,
Has there been any thought to having a way to sync helmfile with helmfile.lock? Like described here http://www.ericfeminella.com/blog/2018/11/13/synchronizing-package-json-with-yarn-lock/

My reasoning is we want to use as much automation as we can to control our chart's progression through our environments with least amount of manual work.

Our vision is to release a chart of say 1.0.0 to QA

[2020-12-10 15:50] bacongobbler commented on #1597
You can also fix the root cause by changing the file's read permissions to user-only via `chmod go-r ~/.kube/config`.

Your kubeconfig should not be group/world-readable, hence the error.

[2020-12-10 16:34] danielefranceschi commented on #1597
@bacongobbler of course that's the way, this issue is about helmfile that crashes on attempting to parse helm 3.3.x output (because that warning goes to stdout in helm 3.3.x and interferes with version parsing)

[2020-12-10 16:55] bacongobbler commented on #1597
I'm not sure what's the recourse for helmfile here. It was a bug in upstream that was fixed in a patch release. Your recourse is to either fix the root cause issue causing the error (which is the recommended path forward, because it raises a security concern), or upgrade to a newer version of Helm with the applied hotfix (3.3.4 and later).

To suggest that helmfile should address this for a very s

[2020-12-10 16:59] bacongobbler commented on #1597
For reference, https://github.com/helm/helm/pull/8779 was the fix.

[2020-12-10 17:34] danielefranceschi commented on #1597
Yep, I've seen them and I agree in general.
I'm of course not here to suggest what should be done, I just reported a crash and found the root cause (eventually because I hate panics), so feel free to close the issue.

[2020-12-11 00:09] #1353 closed

[2020-12-11 19:52] yurrriq commented on #1519
The selector issue appears to be resolved in v0.135.0, though the lock file issue remains.

[2020-12-12 20:37] #1418 closed

[2020-12-13 02:03] #1555 closed

[2020-12-14 04:12] johnmarcou opened #1620 "Support empty helmfile files"
Currently, when helmfile.yaml is empty, helmfile command is exiting with errors.

It would be useful to exit without errors when helmfile.yaml is declaring no releases.
For example in a gitops context, if you want to disable all releases by commenting-out all the content.

# How to reproduce
[code]

# What we get
[code]

# Expected result
[code]

[2020-12-14 22:36] ExiaSR opened #1621 "hooks args with template expression from external file do not render"
- helmfile version v0.135.0
- helm version 3.4.1

`shared.yaml`

[code]

`helmfile.yaml`
[code]

Running `helmfile sync` does not render the `{{`{{.Release.Name}}`}}` template expression

However, if we move the content of `shared.yaml` into `helmfile.yaml`, template expression in hooks args work as expected.

[2020-12-18 18:20] jhcolville opened #1624 "problem overriding boolean values in helmDefaults when layering / using bases"
Hi,

I wonder if I'm hitting a similar issue to #1168 (which now is fixed) but when trying to override helmDefaults rather than environment definitions.

Here is my test case:

[code]

Rendering this I would expect `.Values.foo` to be `false`, `helmDefaults.timeout` to be `100`, and crucially, `helmDefaults.verify` to be `false`.

Instead the environment merge of boolean `foo` seems to work, the h

[2020-12-19 12:36] dragonraid opened #1625 "Add option for skipping hooks"
At this point whenever you run `deps`, `template` or other commands, that do not actually change the target environment, hooks are executed as well (I have tried with `presync` and `prepare` hooks).

It would be nice to have option to skip hooks when running these commands.

helmfile version v0.135.0

[2020-12-20 00:39] unacceptable commented on #1348
I ran into this as well while working on a CD pipeline.  As a workaround for now I am doing the following for a microservice deployment:

[code]

[code]

I'd be interested in the proper way to use `--state-values-set` though.  I assumed that this would be like the following:

[code]

[2020-12-21 11:37] dalbani opened #1627 "Question: how to deploy additional YAML with external chart?"
I deploy Zalando's Postgres operator with Helmfile using the official chart available at https://github.com/zalando/postgres-operator/tree/master/charts/postgres-operator.
This chart requires an additional resource to be pushed in Kubernetes to provide configuration for the operator.
Depending on how the operator is used, it is either a `ConfigMap` or a `OperatorConfiguration` custom resource.

I

[2020-12-21 11:57] dalbani commented on #1627
Oh, I forget to mention: I did find a workaround by creating some kind of "wrapper chart".
With the additional resource I need under `templates/`.
And with a dependency on the upstream Postgres operator chart:
[code]
But it's quite clumsy and verbose. That's why I'm looking for a more elegant solution.

[2020-12-21 20:51] rdelpret opened #1628 "If using a kustomize patch, helmfile ignores all templating done with with `set:`"
When a `strategicMergePatches:` block is added to this helmfile.yaml everything in the `set:` section is ignored. `extraArgs.base-role-arn` and the new image repo is missing.

[code]

[2020-12-21 20:55] rdelpret commented on #1628
with no patch, helmfile template outputs:
[code]

 with a patch it outputs:
[code]

[2020-12-21 21:08] rdelpret commented on #1628
Could this be the fix? https://github.com/roboll/helmfile/pull/1411

[2020-12-21 21:31] rdelpret commented on #1628
Looks like it is also ignore the values.yaml file as well with the patch in place.

[2020-12-22 16:53] Morriz commented on #1517
Hi @mumoshu we are losing sooooo many cycles still on every helmfile command, since it's helmfile that removes files decrypted before by us. (Why is it removing files it is did not create itself?) Iit is really the bottleneck in our pipeline now.

Again, helmfile shouldn't be messing with files it never created in the first place. So this should be fixed imo.

Btw, we can clean up after ourselves

[2020-12-23 10:34] chrismellard commented on #1403
I need this to enable OCI registries in jenkins-x so will probably take a look at creating a PR for this (assuming it doesn't become a rabbit hole ;) )

[2020-12-23 15:37] #1610 closed

[2020-12-23 16:22] dbluxo commented on #1075
Hey @mumoshu, how can dependencies between helmfiles be handled with `helmfiles:`?

[2020-12-23 16:24] dbluxo commented on #1075
Oh well, probably just about the order of the files, right?

[2020-12-24 15:57] Cleming commented on #1286
Hi,
did you try `write-values` ?

[code]

[2020-12-27 08:17] #701 closed

[2020-12-28 00:08] cikupin opened #1630 "Table of contents on readme file"
It is good to add `Table of contents` on the beginning of readme page.

This readme has long page and contains many sections. It would make user to navigate easily in each sections.

[2020-12-28 15:35] dmpe opened #1631 "autocompletion via `helmfile completion bash`"
with the latest release https://github.com/roboll/helmfile/pull/1559, helmfile offers a basic bash autocompletion which is really nice.

However, it requires that a script is copied to your profile, _manually_.

Tools like helm, or minikube or kubectl offer  a simple CLI wrapper which does that for you as well.

e.g. https://minikube.sigs.k8s.io/docs/commands/completion/
[code]

hence you can furt

[2020-12-29 15:53] cvitan opened #1632 "Update deprecated helm-secrets repo to active fork"
Current helm-secrets fork used in helmfile is https://github.com/futuresimple/helm-secrets which nowadays redirects to https://github.com/zendesk/helm-secrets.

This project is no longer being maintained, and they are referring to https://github.com/jkroepke/helm-secrets as the active fork to switch to.

[2020-12-30 18:58] chrisferry commented on #1097
I also need this functionality
I am trying to dynamically generate values based on configmap data.
Example:
    domain: "example.{{ (lookup "v1" "ConfigMap" .Environment.Values.namespace "cluster-config").data.cluster_domain }}"
Currently when trying to template this we receive:
`➜ helmfile -e staging template
in ./helmfile.yaml: error during helmfile.yaml.part.0 parsing: template: stringTemplate:

[2020-12-30 21:35] caleb15 opened #1634 "feature request: ability to destroy specific releases"
I was surprised to find out that when I tried to destroy a specific release via `helmfile destroy metrics-server` it gave me an error `extraneous arguments: metrics-server`. It would be nice if you could specify releases to destroy via cmd rather than having to edit the file.

[2020-12-30 22:31] caleb15 commented on #1596
I ran into the same problem - does metadata have naming requirements? I tried looking it up but didn't find anything that specified requirements for metadata names, just resource types. It's also odd that helmfile lint got a error but [helm lint passed](https://github.com/bitnami/charts/runs/1458231662). I'm not sure which one to trust.

[2020-12-31 12:43] dudicoco commented on #1634
you can do this with the selector arguement:
[code]

[2020-12-31 12:45] dudicoco commented on #1578
@mumoshu can you please advise?

[2021-01-01 00:04] rgreinho commented on #1206
@aweis89 I am facing the same exact problem. How did you work around it.

[2021-01-01 09:32] huang12zheng opened #1636 "question: how to use github repositories?"
I wnat to use a github repo, but it is making me confused too much.
What do I think I should be missing and hoping to get help

* helmfile.yaml
[code]
* run helm template
[code]

[2021-01-02 00:39] rgreinho opened #1637 "Region conflict issue when using helm-s3 and EKS in different regions"
This is just a repost of #1206 , but since I am facing the exact same problem, and the issue was closed without a solution, I am recreating it here.

Initial problem:

[2021-01-04 09:11] strainovic opened #1638 "Helm hooks block parallel execution of releases"
Hi,

First of all, I'd like to wish you a Happy New Year and thank you for this amazing tool! I really appreciate your effort to make helmfile production ready!

I have a question regards to the parallel installation of helmfile releases. I've tried to set some helm hooks "pre-install,pre-upgrade" as I have database migration and dynamic client registration jobs that have to be executed on each in

[2021-01-04 09:13] AkshayAwate opened #1639 "I just started with OCI, Im getting error as line 4: field oci not found in type state.RepositorySpec"
repositories:
  - name: camera-app
    url: registry.gitlab.com/somewhat/develop:0.0.2
    oci: true
    username: ahfjsahf
    password: gitlab_token

[2021-01-04 11:04] strainovic commented on #1638
As far as I know, `--concurrency` is set to 0 by default and we should see multiple helm.exe processes when run apply/sync/status, etc. In my case, I see only one, or in some cases two helm.exe processes. I'm using Windows 10.

[2021-01-04 12:52] Jakic007 opened #1640 "helmfile panic with helm 3.4"
I am getting this message when I run helmfile apply:

`panic: error parsing helm verion 'v3.4+unreleased+g14a2aac'`

This is happening on alpine linux with the latest helm 3.4 from the alpine package repository along with latest helmfile from github repository.

Full output of `helm version` command is here:
`version.BuildInfo{Version:"v3.4+unreleased", GitCommit:"14a2aac38244afd14d093fdd32234385a

[2021-01-04 14:01] strainovic commented on #1638
It seems that variable `tillerless` if is set to true has this side effect... but I'm still investigating...

[2021-01-04 15:21] strainovic commented on #1638
I thought it will disable the tiller but helm 3 does not have a tiller anymore. So it should be false as it is by default. I hope this may help somebody :)

sync, apply now runs in parallel :)

[2021-01-04 15:21] #1638 closed

[2021-01-06 11:33] Morriz commented on #1250
bump...how can we supply extra args to helm on the cli?

[2021-01-06 13:01] morremeyer commented on #1281
I’m a bit confused as this seems to automagically work for me already. I migrated the storage for some of my releases (and will soon write a blog post about that, can link it here if anybody is interested).

During that, I deleted the PVC resource and later recreated it (for the new PV where the data was migrated to) **without** the labels helm uses to denote ownership (`managed-by` etc.).

After

[2021-01-07 11:21] yelhouti opened #1642 "namespace variable at the helmfile level is misleading"
I have been using helmfile for a little while and it is great, but I stumbled over the variable `namespace` at the helfile level that looks like a default but is an override, could we deprecate it and rename it overrideNamespace, then maybe few releases down the line, reintroduce it as a default.

And also can we ass something in the main readme.ms, specifiying what it does.

Thanks

[2021-01-07 20:24] caleb15 opened #1643 "newlines are escaped when reading in a env var"
When a env var is read in via `{{ env "foo" }}` newlines are escaped. This is a problem for multiline env vars that need to be inserted as a multiple-line file into the container.

[2021-01-07 20:24] caleb15 commented on #1643
To work around the issue we made a special secret file that unescapes the newlines:
[code]

[2021-01-07 20:24] #1643 closed

[2021-01-08 10:22] GMartinez-Sisti commented on #1392
This will fix your issue https://github.com/roboll/helmfile/issues/1333.

[2021-01-08 10:22] GMartinez-Sisti commented on #1602
This will fix your issue https://github.com/roboll/helmfile/issues/1333.

[2021-01-08 22:37] obeyda commented on #653
Hello,
I followed along the comments of @mumoshu  here and on #388 and I got this finally working,
here's my structure:
helmfile:
[code]
environments.yaml:
[code]

repositories: _just plain old repositories, no templating there_

defaults.yaml
[code]
templates.yaml
[code]

In templates.yaml, notice the order of`'` and `"`, no ``` {{` ```  or ``` `}}```
when using `readFile` the imported file must

[2021-01-08 23:49] obeyda commented on #653
update:
in `defaults.yaml` above, when I used this "{{`{{ .Values.kubeContext | quote }}`}}", it didn't signal an error when using `helmfile template` but when I tried other commands like `diff` the template didn't render correctly, I got this:
[code]

so, to work around this I updated my files:
helmfile.yaml:
[code]

and defaults.yaml:
[code]

[2021-01-11 02:24] ggillies opened #1646 "Bump sprig dependency to v3.2.0"
Version 3.2.0 of the sprig library was released recently, and contains some new templating functions it would be great to have available in helmfile

 https://github.com/Masterminds/sprig/releases/tag/v3.2.0

[2021-01-11 08:59] sohel2020 opened #1647 "err: no releases found that matches specified selector"
if I label a release like

`chart: elasticsearch-exporter-logs` and run `helmfile --selector chart=elasticsearch-exporter-logs   diff` then it is showing no release found. but If I use the label `chart: elasticsearch-exporter` and run `helmfile --selector chart=elasticsearch-exporter  diff` then it finds the release.

Is there any constrain that I can't use 2 '-' ?  I'm using helmfile v0.136.0

[2021-01-11 11:21] sohel2020 commented on #1647
This has happened with another label `logs-google-auth-proxy` but if I remove *logs* then it is working.
e.g:
`chart: google-auth-proxy`

so it turns out that "-" is not a problem but *logs* keyword is a problem for label.

@mumoshu any idea?

[2021-01-11 21:08] varunpalekar commented on #1403
Actually we are so eagerly waiting for this feature, any update on including this feature!

[2021-01-11 21:46] patrickmslatteryvt commented on #1596
We ran into this same issue when trying to install KEDA v2.0.1
Install KEDA via plain Helm 3 works fine by following the instructions here: https://keda.sh/docs/2.0/deploy/#helm
[code]

But if we use Helm3/Helmfile we get:
[code]

We are using:
helm3 version
  version.BuildInfo{Version:"v3.4.2", GitCommit:"23dd3af5e19a02d4f4baa5b2f242645a1a3af629", GitTreeState:"clean", GoVersion:"go1.14.13"}
and:

[2021-01-11 23:37] chrismellard commented on #1403
HI @varunpalekar . Dev has been done on the linked PR. Just awaiting a review.

[2021-01-12 19:42] simbo1905 opened #1648 "sha256sum checksums for releases"
Today I was installing things like kn, helm and the like I noticed that their GitHub release page includes the sha265sum checksums so I checked them. I couldn't find any on the helmfile releases page. Can releases please publish this info? Thanks!

[2021-01-12 20:34] darkn3rd opened #1649 "could not deduce environment blcok error when no environment specified"
### Description

Helmfile failing due to error with environment block, which there is none, and I am not using environments.

### Config

* helmfile: `v0.137.0`
* helm `v3.4.2`
* helm diff plugin `3.1.3`
* kubectl `v1.18.2`
* k8s (eks) `v1.17.12-eks-7684af`

[code]

[code]

### Actual Results

[code]

[2021-01-12 20:46] darkn3rd commented on #1649
The text editor visual studio code auto-indented the `disableValidation` which lead to misleading errors.  I don't know if there is any interest in fixing misleading errors, if not, I can close.

[2021-01-13 14:07] cstruck commented on #1242
would it be possible to evaluate the given values files for the release instead of having another separate values file?

[2021-01-14 02:18] btashton opened #1650 "Support waiting for jobs (new in helm 3.5.0)"
Helm now supports waiting for jobs as of 3.5.0 we should expose this like we do with `wait`.  This would resolve #785

In helm the flag is `--wait-for-jobs` and came in as https://github.com/helm/helm/pull/8363

[2021-01-14 11:16] dalbani commented on #1601
@jkroepke
Maybe interesting to you: the Docker image of Helmfile now includes `kustomize`.
https://github.com/roboll/helmfile/pull/1626

[2021-01-14 13:52] agoloAbbas opened #1651 "helm lint and list ignore enabled condition"
`helmfile list` shows enabled while chart is disabled, same issue for `helm lint`, `helm lint` would try to lint releases with values for environments that is not enabled for.

[code]

[code]

[code]
envs
[code]

[2021-01-15 00:32] drakedevel commented on #1591
Confirming this is still present in v0.137.0.

I'll also add that if you try to pass an absolute path as a workaround, you get a security error from Kustomize (tested on 3.9.1):

[code]

The `/tmp/chartify<id>` path is randomized, so that pretty much rules out any hope of using `path:` as-is. I never used the helm-x integration, so I can't check if this is a regression from v0.118.0 or an old bug.

[2021-01-15 06:13] patrickmslatteryvt commented on #1596
Upgrading to the latest version of Helm (v3.5.0) did the trick.
It does still throw a warning during linting:
[code]
but it will successfully install KEDA now.

[2021-01-15 12:04] mattymo opened #1652 "Chart version for release not printed ever if helmfile apply fails"
When running helmfile apply, I get the following error when the chart install fails. I run a CI system and it tests deployment with helmfile for the latest untested version in my "unstable" repo. Here is an example failure:

[code]

I would like if the output of `helmfile list` could include chart versions OR if helmfile apply could be updated to check what was the version it attempted to install

[2021-01-15 19:12] cdunford commented on #764
I'm not sure if this is exactly the same, but I would like a release to be marked failed if a postsync hook fails (rather than stopping everything); perhaps that would just be a different `errorHandler` value (like `errorHandler: Fail`)

[2021-01-18 12:29] dene14 opened #1653 "No way to ignore missing file for "values:" in helmfile"
Hello @mumoshu !

I'm trying to set `missingFileHandler: Warn` for `values:` section of my helmfile:

[code]

I cannot use `Environments:` here, because it's complimentary helmfile included in a few entry-level helmfiles with different sets of environments... I've checked #548, but no solution provided for my case, or I'm doing something wrong?
Any advice is much appreciated!

[2021-01-18 17:22] tatyana-khripunova opened #1654 "feat: add describe option"
please provide the ability to specify a custom description (helm install option --description)

[2021-01-18 21:30] dududko commented on #795
I assume that it can now be specified in helmfile.yaml
[code]

[2021-01-18 23:21] lpaulmp commented on #1455
@mmellin What was the solution for your error?

[2021-01-19 08:01] muffl0n commented on #1653
I'm also stuck with this. Setting it with
[code]
throws this error
[code]

Setting it under `environments` is ignored completely
[code]

Though using it under `releases` works:
[code]
->
[code]

I'm using the latest release:
[code]

[2021-01-19 10:26] pandvan commented on #1277
I've the same use case, creating brand new objects and I was able to accomplish it with the suggestion above from @mumoshu to use `incubator/raw` chart as a dependency.

This approach is not working anymore since release 0.132.1 as per commit  0d183c328e110b953c444a5e1d0a81077350b98a.
Remote dependencies are no more fetched even if `skipDeps` is explicitly set to `false`

How can I achieve the sam

[2021-01-19 16:57] jmederer opened #1655 "jsonPatches failed with missing dependencies of a chart"
When running `helmfile sync` with following Yaml
[code]
helmfile exited with error it cant find the only dependency of the chart.

[code]

if i remove the block
[code]
everything works fine ... except the Patch, of course.

[code]

[2021-01-20 11:46] szymonpk opened #1657 "repos do not work when I pass --environment"
I have a release with some environment variables

[code]

And I have environments where I do not define default one:

[code]

When I try to run `helmfile repos`, I get

[code]

Ok, I add `--environment` to the mix and run `helmfile --environment helmfile repos`, and I get no output. Nothing happens, repos are not updated.

Is it a bug? Should it work like that? I do not want to add `default` envir

[2021-01-20 18:34] dudicoco commented on #1453
@mumoshu we've also came across this issue while upgrading. Why is this change not being reverted? A patch/fix version should not introduce breaking changes, and if it does they should be rolled back rather than suggesting a workaround.
We cannot remove kubecontext from our releases as it is necessary and in addition we can't start adding the kube context prefix to the `needs` block in all release

[2021-01-20 23:49] mumoshu commented on #1453
@dudicoco I hear you.

But not including kubecontext for release uniqueness is incorrect. And we are still 0.x which allows breaking changes, although I don't want to break things without important reason like this one.

What if we added some compatibility feature that Helmfile fallback to the old-style release ID if the new, kubecontext-prepended release ID does not exist?

[2021-01-21 09:28] michaelgeorgeattard opened #1658 "Helmfile docker image not working with chartify/kustomize"
I trying using the latest Helm3 docker image to apply some kustomize manifests as a chart, however I am getting an error:

[code]

The files are as below:

[code]

[2021-01-21 11:01] dudicoco commented on #1453
Thanks @mumoshu!

I was able to find a workaround in our case by prefixing the kube context automatically for all releases:
[code]

This generates:
[code]

Do you think the `/` within the context can cause issues?

In any case, it could be beneficial to add the compatibility feature, for other people who might have a hard time dealing with the new change.

[2021-01-21 11:19] vasrem commented on #1413
Is this issue up again? I'm hitting this with 0.136.0.

[2021-01-21 11:36] Morriz commented on #795
I hope that works. Did you test that assumption? Or are you referring to some documentation your read?

[2021-01-21 11:40] Morriz commented on #795
`field skipDeps not found in type state.HelmSpec`

[2021-01-21 11:55] dududko commented on #795
I found it in the Configuration section of the README.md
https://github.com/roboll/helmfile#configuration

Maybe you are using the old version of helmfile, because this attribute present in the master branch.
https://github.com/roboll/helmfile/blob/9b64d65d9478cbe7b9bbd9d9049160108b01f6da/pkg/state/state.go#L145

[2021-01-21 23:46] mumoshu commented on #1413
@vasrem Thanks for reporting. Just curious, but did the same configuration work for previous version(s) of helmfile?

[2021-01-22 09:21] Morriz commented on #795
We run 1.3.6 and see it mentioned in the README, but still get that error. I don't see any of the 4 PRs in 1.3.7 fixing that. Will create a separate issue for that.

[2021-01-22 09:24] Morriz opened #1659 "field skipDeps not found in type state.HelmSpec"
The readme clearly states the usage of:
[code]
but that configuration results in the title error.

We run 1.3.6, and only see cosmetic fixes in 1.3.7, so I think this is a bug.

[2021-01-22 10:17] pandvan commented on #1655
Could be in some way related to this one https://github.com/roboll/helmfile/issues/1277#issuecomment-762750238?
It's not the same issue but the root cause seems new dependency management recently introduced for both.

[2021-01-24 22:25] slamdev commented on #1627
I have exactly the same use case and would like to know as well what is the "best practice" for such kind of situations?

[2021-01-24 22:36] dalbani commented on #1627
By coincidence, I've just discovered the other day a chart named `raw` where you can install Kubernetes resources:
https://github.com/helm/charts/tree/master/incubator/raw

[2021-01-24 23:42] slamdev commented on #1627
after browsing through the issues I found this two that discuss the same problem:
- https://github.com/roboll/helmfile/issues/1157
- https://github.com/roboll/helmfile/issues/1129

it seems like the the **raw** chart is indeed the best and the only way to handle such cases. it would be nice to have it mentioned in the docs somewhere.

Using a chart for such case seems like a workaround to me. Woul

[2021-01-25 13:58] dalbani commented on #1627
You've summed it up nicely, @slamdev. I close my issue, as it doesn't bring anything new.

[2021-01-25 13:58] #1627 closed

[2021-01-27 02:39] cameronbraid commented on #1642
Or alternatively add a new field 'defaultNamespace' which does what it says.

Either way a technique for specifying a default namespace is needed.

[2021-01-27 17:45] kirrmann opened #1660 "chart go-getter git fetch fails if cache is empty"
Hi,

latest version 0.137.0 fails to fetch a chart git repo (go-getter style). Error states that it's because the folder/cache already exists or cannot unlink directory. Running helmfile a second or third time fixes this error. Error is reproducible if I delete helmfile.d directory

helmfile:

[code]

First run:

[code]

Second run (not always but often):

[code]

If I define in releases another c

[2021-01-27 20:29] jdolitsky commented on #1648
@simbo1905 - FYI, while I agree with adding checksums on release page, you can find third-party records of these checksums in gofish: https://github.com/fishworks/fish-food/blob/main/Food/helmfile.lua#L4

[2021-01-28 22:18] omersi opened #1663 "helmfile returns "unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2" ""
When I try to upgarde/create a release using `helmfile diff` or `helmfile apply` I get this exception:

[code]
I checked my charts to find any such entry for nothing.

helm3 version

[code]

helmfile version

[code]

hlm3 plugin list

[code]

How can I override this exception and deeply me releases?

[2021-01-29 00:10] mumoshu commented on #1663
@omersi Is StatefulSet defined under apps/v1beta2 in your K8s version? I thought it's only under apps/v1 for K8s 1.16 and newer.

[2021-01-29 08:18] jmederer commented on #1655
With `strategicMergePatches` everything works fine - no dependency errors.
But i need the ability to delete.
I'm not sure if this related to #1277

[2021-01-29 08:33] pandvan commented on #1655
The problem seems that once you've defined a `jsonPatches`, _helmfile_ builds up a temporary chart using `chartify` and after applying the layers with `kustomization` and ready to deploy, it doesn't fetch the remote `bitnami/common` Helm chart, defined in the [upstream Helm chart](https://github.com/bitnami/charts/blob/master/bitnami/cassandra/Chart.yaml) as a dependency.

I've a similar issue as

[2021-01-29 19:15] kevin-lindsay-1 opened #1664 "0.138.x causes go-getter syntax to fail"
When using version `0.138.x`, when using go-getter syntax the following is produced:
[code]

When I switch back to `0.137.0`, the error does not occur.

Helm version: `3.5.1`

[2021-01-30 00:26] mumoshu commented on #1660
@kirrmann Thanks for reporting! I haven't tried this with 0.137.0 but at least it didn't work for me as well with 0.138.x, as @kevin-lindsay1 has also reported in #1664.

After a bit of investigation, it seems like this is a regression introduced via https://github.com/roboll/helmfile/pull/1629/files#diff-7e4e87a1e777423a3d9a915e00fb78a9c4fc2f4c476863f60b67e89b9c635697R990

[2021-01-30 00:28] mumoshu commented on #1664
@kevin-lindsay-1 Thanks for reporting!

This seems like a regression introduced via https://github.com/roboll/helmfile/pull/1629/files#diff-7e4e87a1e777423a3d9a915e00fb78a9c4fc2f4c476863f60b67e89b9c635697R990.
I'll certainly fix this in next patch version of helmfile.

[2021-01-31 10:37] omersi commented on #1663
I have two places where the charts are defined.
one on the main repo where the general formation is set and the other is where each deployment gets its unique configuration.

* Main repo:

[code]

and under the charts maintenance directory

[code]

To sum it up, I don't have any entry the API anywhere on my local charts.

[2021-01-31 10:43] mumoshu commented on #1663
@omersi Hmm, interesting. But the error message seems to indicate that one of your charts has it. What's happening? 🤔

[2021-01-31 10:47] omersi commented on #1663
I noticed that in some other cases when I try to create a new helm release with

[code]

it sometimes through the same error, retrying the same command will most likely work afterward. but when I use it with helmfile, it'll always fail on that exception.

[2021-01-31 10:57] Morriz commented on #1560
@mumoshu I don't see `--skip-cleanup` recognized as a flag for `helmfile template`. Would it be a lot of work to add it there too?

[2021-01-31 21:58] Morriz commented on #1557
@mumoshu why is this mentioned but not available?

[2021-01-31 23:46] mumoshu commented on #1557
@Morriz Unforutnately I don't remember why, but you can just use `fromYaml` as any json should be a valid YAML as well

[2021-01-31 23:49] mumoshu commented on #1560
@Morriz It should be a good-first-issue 😃

[2021-02-02 06:52] SatoruItaya opened #1665 "repos command doesn't work"
This issue might be the same as #1657 .

I tried to sync repositories with the command `helmfile --environment dev repos`.
But there is no output and repositories are not added and updated.

I would like to know how to sync repositories through helmfile.

## environment

[code]

[code]

Kubernetes Cluster: v1.19.3 (Docker Desktop)
files: https://github.com/SatoruItaya/gatekeeper-example/tree/main/

[2021-02-02 13:12] max-rocket-internet commented on #1059
Also hitting this issue in later versions of helmfile, it slows everything down a lot. I will use the `--skip-deps` option but would be nice to have a more elegant fix 🙂

[2021-02-02 16:33] Morriz commented on #1557
good to know!

[2021-02-02 20:30] yurrriq commented on #1665
You'll need to add `repositories` to your state file, e.g.:

[code]

[2021-02-02 20:31] yurrriq commented on #1657
Perhaps like #1665 you're missing `repositories`. Could you share a minimal failing example?

[2021-02-03 00:01] mumoshu commented on #1664
This should be fixed via #1667

[2021-02-03 00:06] mumoshu commented on #1660
@kirrmann JFYI, I couldn't reproduce this with the below setup:

[code]

I'm still working on #1667 that should fix #1664 for v0.138.x.

[2021-02-03 01:23] SatoruItaya commented on #1665
@yurrriq
Thanks for your advice, and I'm sorry for taking your time.
I succeeded in adding repos.

[2021-02-03 01:23] #1665 closed

[2021-02-03 02:21] huang12zheng opened #1668 "I reapply but get an error about "invalid ownership metadata""
* log:
[code]

* helmfile
[code]
* in purpose

---
# other
* yaml:
[code]
* chart
[code]

[2021-02-03 04:10] mumoshu commented on #1668
@huang12zheng I believe the offending resource already exists in your cluster and that's why helm is complaining. Also see https://github.com/helm/helm/issues/7418.

And - aren't you trying to "overwrite" the tidb cluster already created by the tidb operator beforehand? I don't think that's a good idea.

I'm closing this as out of scope of helmfile - But please feel free to reopen if this has some

[2021-02-03 06:17] szymonpk commented on #1657
I pulled repositories from external (git) helmfile, everything worked fine when I used default environment (didn't pass --environment at all), I scrapped the wole idea due to multiple issues with external (nested) helmfiles.

Here is poc, two files:

helmfile.yaml

[code]

sub-helmfile.yaml

[code]

and the results

[code]

[code]

[2021-02-03 06:31] mumoshu commented on #1657
Your sub-helmfile.yaml is missing the `foo` environment and I think that's why the whole process - including repository updates - is skipped for your sub-helmfile.

[2021-02-03 06:33] mumoshu commented on #1657
The rule of thumb is that you must define a white list of `environments` for each sub-helmfile and the parent helmfile.yaml. It's a bit cumbersome but turned out to avoid misoperation in any circumstance..

[2021-02-03 08:33] szymonpk commented on #1657
Thanks @mumoshu, I wanted to have one file with our private repos and include it for all the applications, we have many different environments. It won't be possible to define them all in the sub-file :( I will close this issue then.

[2021-02-03 08:33] #1657 closed

[2021-02-03 11:39] huang12zheng commented on #1668
I want to do it...

The resource exists because I deployed it with HelmFile earlier.

* other about overwrite

As stated above, template.yaml is
` ` `
app.kubernetes.io/managed-by: Helm
` ` `
However, it is modified by tidb-operator to
` ` `yaml
app.kubernetes.io/managed-by: tidb-operator
` ` `
in k8s

I would like to know if Helmfile has the ability to set.Release.Service to allow customization
`

[2021-02-03 11:52] kuzaxak commented on #1621
Reason for it is `readFile` function. It reads file as plaintext.

We have pretty same issue, whenever we are moving our templates to separate file we got and error:

[code]

[2021-02-03 11:54] kuzaxak commented on #1621
Same issue: https://github.com/roboll/helmfile/issues/1508

[2021-02-03 11:59] kuzaxak commented on #1508
Answer from [post][1] helps me.

templates:
[code]

helmfile:
[code]

[1]: https://github.com/roboll/helmfile/issues/1146#issuecomment-613158706

[2021-02-03 12:00] kuzaxak commented on #1621
Possible solution: https://github.com/roboll/helmfile/issues/1508#issuecomment-772456104

[2021-02-03 12:02] kuzaxak commented on #1613
Possible solution: https://github.com/roboll/helmfile/issues/1508#issuecomment-772456104

[2021-02-03 13:35] kirrmann commented on #1660
Hi, thanks for your fast response.

I took another look at it. I can only cleanly reproduce it if I have two releases defined, both with the go-getter pointing to the same git repo, but not necessarily the exact same url. It works if I filter the releases with `-n name=test1` but at soon as both are processed I'm hitting that error. I missed that the first time, because I'm using `helmfiles: []` t

[2021-02-03 13:47] kirrmann commented on #1660
I tested older releases and I think this isn't a regression. Even with 0.125.0 this issue shows up.

[2021-02-03 16:09] Xtigyro commented on #1124
@mumoshu Thank you, man - as always you rock!!!

[2021-02-03 23:41] mumoshu commented on #1600
@jkroepke Hey! In #1618, I've added `disableValidationOnInstall` which I believe is exactly the first option you proposed. Would you mind giving it a try?

[2021-02-03 23:43] mumoshu commented on #1660
@kirrmann Thank you so much for your support! That's super helpful. I'll try to fix it soon 👍

[2021-02-03 23:50] mumoshu commented on #1668
@huang12zheng Hey!

yaml app.kubernetes.io/managed-by:

AFAIK, that's not possible with Helm, hence the same for Helmfile.

Interesting. If that's true, we can't use either Helm or Helmfile to manage tidb-cluster. Is that really by-design? Would you mind pointing me to more detailed documentation about the relationship between tidb-operator and the cluster?

[2021-02-03 23:57] mumoshu commented on #1668
@huang12zheng Don't you need to disable some parts of tidb-clsuter release via values (like e.g. `--set serviceAccount.create=false` if it's a standard-looking chart) if only a small subset of K8s resources is managed by the operator?

[2021-02-04 00:10] jkroepke commented on #1600
`--skip-diff-on-install` looks more interest for me.

[2021-02-04 00:25] mumoshu commented on #1600
@jkroepke Yeah- I usually recommend using command-line flags for operational concerns and use YAML config for anything else. So I can also suggest using `--skip-diff-on-install` depending on your situation.

[2021-02-04 00:36] mumoshu commented on #1664
FYI v0.138.3 has been released for #1667

[2021-02-04 00:38] mumoshu commented on #1663
@omersi Thanks for the info. Could you provide me a set of helmfile.yaml and chart(s), and the version number of K8s, for reproduction? It's a lot easier to fix if I can reproduce it locally.

[2021-02-04 01:08] mumoshu commented on #1660
@kirrmann #1669 should fix it

[2021-02-04 08:22] omersi commented on #1663
Closing this issue. it was created due to a deprecated helm 2.x version.

[2021-02-04 08:22] #1663 closed

[2021-02-04 10:15] kirrmann commented on #1660
I just tested #1669 and it fixes the issue 👍 thanks

[2021-02-04 14:31] sereinity opened #1670 "Fail to fetch OCI chart if repositiory definition is in another helmfile"
Helmfile version: `v0.138.3`

Example structure (not a real case, just so everyone can reproduce).

Tree:
[code]

In `helmfile.yaml`:
[code]

`foo.yaml`:
[code]

If I run `helmfile template`, it fails

[code]

If I uncomment the `repositories` definition in `foo.yaml` everything goes fine.

[code]

[2021-02-04 23:47] mumoshu commented on #1670
@sereinity Unfortunately, `repositories` are not inherited to sub-helmfiles, so that sub-helmfile can always be independently runnable, which helps maintainability. This isn't specific to the OCI support.

[2021-02-05 00:02] #1660 closed

[2021-02-05 00:03] mumoshu commented on #1660
@kirrmann Thanks for confirming! I've released v0.138.4 for it.

[2021-02-05 02:07] huang12zheng commented on #1668
Hi,

That's true.
`Release.Service: The service that is rendering the present template. On Helm, this is always Helm.`

I'm sorry, I missed something.
* The latest operator has automatically managed the clsuter. Helm is not used.
The reason why I was wrong may be that the `Clsuter chart`is still being updated

Thank you. I would close this issue.

[2021-02-05 02:07] #1668 closed

[2021-02-05 09:10] mumoshu commented on #1668
@huang12zheng Thanks for confirming! Glad to hear you solved your issue 👍

[2021-02-05 16:07] antaloala commented on #758
Can I ask you what is the status of this open issue?
I think it would be really really good to have helmfile under the Helm ecosystem

[2021-02-05 16:11] technosophos commented on #758
We do have an official document describing how Helmfile can become part of Helm: https://github.com/helm/community/blob/master/hips/hip-0003.md It was actually a direct result of this conversation. But I am not sure we've taken any new steps (on either side) since the HIP was approved in December 2020.

[2021-02-05 20:57] jseiser commented on #168
Is there any current way to do this?  We are wanting to implement our long running DB migrations are HelmChart/jobs, but we also want to prevent someone from being able to run them by accident.

Moving the jobs into their own helmfile would be fine, but would still need a way to force passing something on the CLI before it runs.  Even being able to set them to condition: false, and overriding that

[2021-02-07 17:10] strainovic opened #1674 "helm-diff --show-secrets"
Hi,

Before I sync or apply changes, I'd like to know if some of the secrets will be changed. Implemented [here](https://github.com/databus23/helm-diff/blob/0882d8c63d782cd5ac325fe3b4e00342ae30f6a1/cmd/release.go#L76).

This is an opposite argument to the `--suppress-secrets` that we need from time to time as we want to be sure that secret data is not changed, while annotations may be changed.

I

[2021-02-08 08:24] antaloala commented on #758
@AlexsJones perfectly summarized above the win-win situation resulting from Helmfile becoming part of Helm.

@mumoshu is it something you plan for a coming future? (we all know you are so busy with the so many improvements you are continiously adding to Helmfile so please do not understand my question as a way to ask you this to happen soon, not at all, it is only to know if you still see as somet

[2021-02-10 09:41] eperdeme commented on #1505
Don't know this is the answer to your problem but would this method work ? But we do something similar to the below to have 'global' secrets.

The issue I think you might run in to, is how your secrets are encrypted and if that key is available to decrypt the default file in all 'envs' your CI runs.

[code]

[2021-02-10 14:46] rhiananthony commented on #1610
Did you fix this? If so, how?

[2021-02-12 06:19] jwitko commented on #64
I tried to do this very thing (use `--wait` via helmfile CLI to get it to append to every helm command).  I have a setup where for finer grained control I'm executing many separate helmfiles and I didn't want to add `wait: true` everywhere.  I ended up implementing this and I'm going to submit a PR, but finding this issue I did not implement it the way noted above.  Let me know if it needs to chan

[2021-02-12 08:20] triviman opened #1679 "helmBinary value doesn't work with Layering State Files"
if i don't use layers helmfile works fine with value helmBinary, but I split config in different files , helmfile take default config.

foldering:
[code]

helmfile.yaml:
[code]

defaults.yaml:

[code]

helmfile build:

[code]

[2021-02-12 09:42] and-1 opened #1680 "Error while working with Adhoc dependency and chart apiVersion: v2"
I had tried to use adhoc dependency (incubator/raw) with coredns helm chart and i got error:
[code]
Chart.yaml in temp folder:
[code]
Chart.lock:
[code]

[2021-02-12 10:36] huang12zheng commented on #1636
close with no reply

[2021-02-12 14:39] and-1 opened #1681 "HelmX intergration doesn't get set-parameter from release"
When used helmx integration and present set parameter in release this one doesn't pass to chartify and therefore helm template doesn't use this values.

[2021-02-12 23:58] mumoshu commented on #1681
@and-1 Whoa, thanks for reporting - good catch!

If anyone is interested in contirubting, we'd need to the set parameters to `CharitfyOpts`'s `SetValues` here:

https://github.com/roboll/helmfile/blob/master/pkg/state/helmx.go#L87-L94

[2021-02-13 00:00] mumoshu commented on #1680
@and-1 Would you mind giving me an example helmfile.yaml and the version number of your helmfile binary for reproduction?

[2021-02-13 00:05] mumoshu commented on #1636
@huang12zheng Hey! Helm seems complaining on the URL you've provided as not a valid repo URL, cuz you're probably missing `helm-git`, and/or the repository URL is incorrect. It should look like:

[code]

For more info, please see https://github.com/roboll/helmfile#configuration

Also read https://github.com/aslafy-z/helm-git#usage for available helm-git URL formats

[2021-02-13 00:09] mumoshu commented on #1679
@triviman Thanks for reporting! This does seem like a bug in https://github.com/roboll/helmfile/blob/4c0987a6180e8850cd06712dac004608501fbd1b/pkg/state/create.go#L132

[2021-02-15 01:52] huang12zheng commented on #1636
@mumoshu thank you very much, I get it.
I don't know need to install helm-git. It work well now.

[code]
 I miss it , Though it is in readme.md.

[2021-02-15 01:52] #1636 closed

[2021-02-15 15:35] k-santosh commented on #996
I think, it will be very good feature to have.

[2021-02-16 10:39] sjentzsch commented on #1646
Same here. I need to use the `dig` function (http://masterminds.github.io/sprig/dicts.html#dig) which is now also present in Helm 3.5, but Helmfile is not there yet. Would be great to upgrade to sprig v3.2.0.

[2021-02-17 11:02] andrewnazarov commented on #1585
Experiencing the same with
HELM_VERSION=v3.4.1
HELMFILE_VERSION=v0.135.0

[2021-02-17 13:38] shibumi opened #1682 "Feature Request: Adding additional resources for helm charts with pure YAML"
Hi,

I am running into the following problem nearly all the time. I have a very fancy helm chart, but it is missing a few additional Kubernetes Resources to suit my cluster setup (for example additional prometheus alerting rules.. or an ingress resource if the helm chart doesn't provide this).

In the past I solved this with having a dedicated charts directory and having "addon" charts for real He

[2021-02-17 14:26] RyPeck opened #1683 "Helmfile generated Helm Delete commands with `installed: false` should pass in timeout settings"
When setting `installed: false` for a given release - Helmfile should run a `helm delete` command that includes the `--timeout` parameter using the value set in `helmDefaults` or the release specific value.

[code]

Error log -

[code]

I can work together a simple helmfile and chart that demonstrates this - but hopefully easy enough fix. Though there might be a good reason for Helmfile *not* to d

[2021-02-18 15:34] and-1 commented on #1680
I've got v0.138.4 with following helmfile.yaml:
[code]
I done a little bit patch to support local chart as adhoc dependency, but with chart from repo (incubator/raw) i got the same result. If i change chart apiVersion to v1 - everything ok.

[2021-02-19 06:47] 4c74356b41 opened #1684 "JsonPatches seems to ignore values provided"
Working example:

[code]

to get a non working example add the following to the example above:
[code]

the issue comes from the fact that it tries to pull all the dependencies for istio and kiali doesn't satisfy the dependencies constrains. Works fine without JsonPatch :(

[2021-02-19 07:10] Savasw opened #1685 "Helmfile destroy command produces 403 forbidden error for oci repo"
**helmfile version:** v0.138.4
**Helm Version**: v3.3.4

**Overview**:
When using oci feature, helmfile destroy command tries to pull helm charts from oci repo without logging into the repo and produces following error:

[code]

  **Sample Helmfile:**
[code]

[2021-02-19 08:46] shibumi opened #1686 "Beautify Helmfile output"
Hi,

I would like to propose an additional flag that redirects the normal output to a log file and shows instead a smaller overview about all helmfile releases (maybe with some fancy colors).

I think this would add a nice touch and make helmfile much more easy to read. With bigger helmfiles I have the problem that I get like over 1000 new  lines spammed to my terminal. There is the overview in th

[2021-02-20 08:02] mattymo opened #1687 "Race condition signal: killed"
Possibly duplicate of https://github.com/roboll/helmfile/issues/1166

I have a k8s cluster that runs CI for several components and there can be up to 50 parallel helmfile commands running across 8 nodes. Here's the failure I'm seeing during the execution:

[code]

I should stress that each container has limits of 3 vcpu and 2gb memory. The helmfile that I use has a dependency chain and installs in

[2021-02-23 09:55] EricPE69 opened #1688 "Helmfile incompatible with kustomize 4.0.1"
With kustomize 4.0.1 helmfile does not work:
`
COMMAND:
  kustomize -o /tmp/chartify266988612/mongodb-574f96b8db/templates/kustomized.yaml build --load_restrictor=none --enable_alpha_plugins /tmp/chartify266988612/mongodb-574f96b8db

OUTPUT:
  Error: unknown flag: --load_restrictor]
`
There is a breaking change in kustomize 4.0.1:
see https://github.com/kubernetes-sigs/kustomize/releases/tag/kusto

[2021-02-23 09:59] EricPE69 commented on #1658
Same error with the binary (not the docker image)

[2021-02-23 10:17] mwakkach commented on #1688
same issue here !!!

[2021-02-23 11:33] shibumi commented on #1682
Solved this via `chartify`.

Example:
[code]

The `addons-rook-ceph` is just a directory with plain YAML files in it. This works great :)

[2021-02-23 11:33] #1682 closed

[2021-02-23 11:37] shibumi opened #1689 "Feature Request: Specify kubecontext via environment"
Hello,

I would like to propose the following feature, it should be possible to manage the kubecontext via environments.
What I am thinking of is something like this:

[code]

With the above configuration it would be possible to never accidentally push something to the wrong environment and therefore overwriting the whole cluster configuration. Instead `helmfile -e production sync` would *always*

[2021-02-23 17:31] abdennour commented on #118
Wow! 3 years so far. any update ?

i wanna see the final computed values without showing the computed manifests... Just computed values

[2021-02-24 03:15] yujunz opened #1690 "Support overriding chart from command line"
We have a use case to build chart on demand and deploy, it would be nice if helmfile can allow overriding chart in command line.

[2021-02-24 03:47] #64 closed

[2021-02-24 18:42] bseenu opened #1692 "Not installing dependancies when using selector"
i have some thing like

[code]

And when i am using `helmfile --selector name=prometheus apply` , i expect cert-manager to be installed as dependency which is not happening

[2021-02-24 20:22] Morriz commented on #118
we use an alias/function for that:
[code]

[2021-02-24 21:05] tomassatka commented on #1608
Still the issue on v0.138.4 when executing in windows. Can i ask for an update?

[2021-02-24 22:01] tomassatka commented on #1608
After quick analysis:

Issue was caused by kustomize version that could not see generated kustomization.yaml in directory that was pointed:
`kustomize build C:\Users\tk9at\AppData\Local\Temp\1\chartify431156076\TODO-reportportal-5ddc9c6757`
even when i could see the file inside the binary required full path including the file name to execute

however after updating to newest kustomize ver: Version

[2021-02-24 22:22] tomassatka commented on #1608
So another step.

Logs says:
patching files: [C:\Users\tk9at\AppData\Local\Temp\1\chartify172352812\TODO-reportportal-5f6bfd4f6b\**helmx.1.rendered**\reportportal/templates/uat-service.yaml

then generated kustomization.yaml has entries:
kind: ""
apiversion: ""
resources:
- C:\Users\tk9at\AppData\Local\Temp\1\chartify172352812\TODO-reportportal-5f6bfd4f6b\**helmx.1.rendered**\reportportal/template

[2021-02-25 06:49] mattymo commented on #1687
@mumoshu Any chance you can help out here?

[2021-02-25 07:39] Neomaster21 commented on #1089
@DDSloan96  `fetchSecretValue` looks like a solution.

[code]

[2021-02-25 09:17] tomassatka commented on #1608
Further analysis shows:

Running:

[code]

but using Chart.yaml from helm directory works.

[code]

even when i replace the Chart.yaml in temp directory with the one from helm directory the behavior is the same.
Must be something deep in helm binary itself....

[2021-02-25 10:57] xabufr opened #1694 "Multiple releases with the same name"
HI,

I think I found a bug, here is the context:
I have a multicluster use case. For each kube cluster I want to deploy some releases, sometimes with the same configuration, sometimes with some differences.
I came from a bash script that does that, and I want to migrate to Helmfile.

Current Helm releases have the same name on each cluster.

To facilitate the deploying of releases in these cluster

[2021-02-25 11:06] xabufr commented on #1694
To illustrate a little more the situation, here is the rendered values by a `helmfile build`:
[code]

[2021-02-25 13:06] tomassatka commented on #1608
Linked to helm issue [#9414](https://github.com/helm/helm/issues/9414)

[2021-02-25 16:24] roderik commented on #1692
Same here, according to https://sweetops.slack.com/archives/CE5NGCB9Q/p1614102934006700 it should work

[code]

[2021-02-25 18:23] bseenu commented on #1692
I am using the same version as well

[2021-02-25 20:36] dalbani commented on #1655
@jmederer
Can you confirm that it *does* work with `strategicMergePatches`.
I've just tried locally and it also fails, just like with `jsonPatches`.

[2021-02-25 21:26] jwitko commented on #1694
IIRC helmfile takes a bunch of information into account when considering release uniqueness.  Making your release names dynamic would be one way I think would work.  I also believe if you had multiple kubecontexts that were part of your iteration, I think would work?

[2021-02-25 21:29] jwitko opened #1695 "chartify breaks when two or more releases sharing the same chart and the namespace, but kubeContext"
As a very simple use case take a directory which is just a single k8s manifest for creating a cluster role.  You plan to install this into multiple clusters by iterating over AWS regions, as part of that you jsonPatch the region into the metadata.labels.  If the release name is not dynamic (aka same release name in both clusters) then the jsonPatch for the last iteration will apply to all manifest

[2021-02-25 22:46] xabufr commented on #1694
Thats what I read...

Looking at the code I think this not the case everywhere. I didn't read all the code of helmfile, but I think I have found an example here : https://github.com/roboll/helmfile/blob/master/pkg/app/run.go#L71

Maybe this is the root cause of my bug ? It seems to happen only for the chart name when two releases have the same names in different namespaces/contexts

[2021-02-26 09:21] talonx opened #1697 "Documentation: examples of remote values (-address)"
The example helmfile mentions the -address key but does not give any examples as to what protocols are supported.

[code]

It would be nice if those were documented with examples.

[2021-02-26 09:59] mwakkach commented on #1692
I have a similar issue

[2021-02-26 10:04] xabufr commented on #1694
Okay, I made some tests and this is indeed the root cause of my bug.

I'll try to make a PR, but as I'm not a Go programmer I don't know if everything is good...

[2021-02-26 11:05] recollir opened #1699 "helmfile can't decrypt secrets when using AWS IAM user/role with MFA"
helmfile can't decrypt secrets when using AWS IAM user/role with MFA while this works in `helm secrets dec` or `helm secrets view`.

helmfile decrypts the secrets when the AWS IAM user/role doesn't have a MFA.

I would expect helmfile to ask for the MFA token as `helm secrets` does and work as when using a AWS IAM user/role that does not have MFA.

See the following "transcript":

- Not working -

[2021-02-26 13:07] recollir commented on #1699
Using vals to reference the secrets with `ref+sops://secrets.yaml#/accessKey` works with a AWS IAM user/role that requires MFA. Closing this.

[2021-02-26 13:07] #1699 closed

[2021-02-26 13:34] jmederer commented on #1655
@dalbani, this is my test. And its still runs without error.

this was my `strategicMergePatches`  test
[code]

But the Problem here is for the stratetigMerge the KeyWord at PORTs its not the Key NAME its the VALUE of containerPort.
for ex
in the Tempate
[code]
in strategicMerge you add
[code]
The Result is:
[code]

[2021-02-26 16:09] phihos opened #1700 "Support templated secret values"
Value files ending with `.gotmpl` support templating while secret value files ending with `.gotmpl` currently cause an error.
Since secret value files behave like normal value files after encryption it should be technically possible to implement that without breaking backward compatibility.

[2021-03-01 18:36] AndreyGeleta opened #1704 "values from helmfile to subhelmfile through helmfile"
We are using helmfile for declarative deployment of charts on our environment. We have faced the issue of values transfer from the main helmfile(helmfile_1) into the final chart(helmfile_3), our helmfiles structure:
helmfile_1
values_1
  helmfile_2
  values_2
     helmfile_3

helmfiles:
  - path: ./storage/helmfile_2.yaml
    values:
     - "./values.yaml"

value_1:
LVL1: LEVEL-1

helmfile_2:
rele

[2021-03-02 07:42] spacejam101 commented on #1689
+1 need feature

[2021-03-02 16:38] xabufr commented on #1685
I have the same issue with the build command, it seems helmfile doesn't trigger a login command in some cases...

Running a `helmfile deps` first solves the issue (as this command seems to be able to login first)....

[2021-03-03 03:18] abdennour commented on #760
For me, sometimes Relase.Name is interpolated, and sometimes, it does not... while using the same helm chart
Seems like we need to test more this feature.

For example, with jenkins helm chart, `controller.ingress.hostName={{ .Release.Name }}.example.com` never interpolated even using the other syntax :
[code]

Does not work

[2021-03-03 10:37] xabufr opened #1705 "Helm pull from OCI in parallel"
I've found a bug related to how Helm works.

When Helm pull multiple charts in parallel, it lost some pulled charts from it's local repository, example:

[code]

A simple workaround is to disable concurrent chart pulling [here](https://github.com/roboll/helmfile/blob/master/pkg/app/run.go#L62) (I've tested it and it works)

[2021-03-03 10:49] xabufr commented on #1705
This bug generate the following output from a `helmfile build` command.

[code]

[2021-03-04 00:24] #1705 closed

[2021-03-04 00:29] #1694 closed

[2021-03-04 10:13] RammusXu commented on #1182
[code]

[2021-03-04 10:16] pjotre86 opened #1708 "Testing helmfiles?"
Hey!
Just curious: Is anyone running automated tests against their helmfiles to make sure that they behave like they should and you're not breaking them?
For my helm-charts I'm using [terratest](https://github.com/gruntwork-io/terratest). It has a module for helm which let's you write extensive tests for your charts in golang.
I'm wondering:
Is there something similar for helmfile? What creative s

[2021-03-05 11:25] kupnu4x opened #1710 "Allow to use public oci repositories"
For example, github packages repo ghcr.io allows to create public accessible artifacts.
Now helmfile exits with message
`in ./helmfile.yaml: username and password are required fields for logging in to OCI registries with helm
`

[2021-03-08 23:27] renehernandez opened #1713 "Add integration with helm-unittest"
At work, we use [helm-unittest plugin](https://github.com/quintush/helm-unittest) as part of our CI/CD pipelines.

It would be great if we could integrate the plugin natively into `helmfile`, e.g

[code]

And this would automatically generate the final values file (like `helmfile write-values` does) and automatically invoke the `helm unittest` command.

[2021-03-08 23:49] mumoshu commented on #1713
@renehernandez Good idea!

Just wondering but would you mind if I omitted the `unit_tests` field?

I think forcing the tests directory path to `$CHART/tests` and enabling the unittests only for local charts would make that field unneeded. WDYT?

[2021-03-08 23:56] renehernandez commented on #1713
The purpose of having a `unit_tests` field would be to not force a particular structure to the user. In our case, we are considering having these unit tests next to each `helmfile` folder instead of on the chart since we are testing the merged output from `helmfile` instead of the default ones from the chart

[2021-03-09 00:08] renehernandez commented on #1713
Also, is it necessary to differentiate between local and remote charts? I could see the possibility of testing that my values are assigned properly or that certain component is disabled against a remote chart

[2021-03-09 01:17] #1632 closed

[2021-03-09 01:23] #1710 closed

[2021-03-09 19:45] ldemailly commented on #1242
same issue here trying to use condition:
nil/not existing should be same as false not crash/force the value to be defined in each and every environment

[2021-03-10 13:23] antaloala opened #1714 "README.md shoud refer to disableOpenAPIValidation (instead of disableOpenApiValidation)"
Helmfile is a great project (thanks for it).

This is a small issue in the README.md doc: "disableOpenAPIValidation" is the right name of the field to refer in that doc (instead of "diableOpenApiValidation") as seen in state.go (HelmSpec struct).
I realized on it as getting a parser error when using the field as written in the latest README.md (note: I am using latet 0.138.7 helmfile release)

[2021-03-11 07:14] adrianiacob22 opened #1716 "I cannot authenticate to artifactory helm repository"
I tried to add a JFROG Artifactory repository into helmfile, but it fails to authenticate..
I need to mention that I am using API token for artifactory auth.

I tried using variables to pickup values from environment, but I have also tried specifying the values for username and password inline.

Here is an example of how I tried:
[code]
It fails with bellow unauthorized error:

[code]

[2021-03-12 02:51] aweis89 opened #1717 "Possible to render helmfile in golang"
Hi!

I'm looking to build an integration binary for ArgoCD that would output the ArgoCD diff for a given helmfile. In-order to do so, I would need to be able to render the templated helmfile.yaml so it can read the various files being referenced in the values and then check which apps have been modified in the given PR. Is there any pointers in the code-base you can provide for just rendering the

[2021-03-12 16:06] antaloala opened #1718 "Not possible to handle different namespace per release entry when CLI --namespace is used"
I have created a simple helmfile yaml manifest defining two releases. I am setting the namespace field for each as follows:

[code]
When invoking the ```helmfile apply``` command with the  ```--namespace my_namespace``` option both releases are deployed in the ```my_namespace``` namespace. The same happens if I am setting ```namespace: my_namespace``` at the root of my helmfile manifest (in this c

[2021-03-12 20:20] kevinjcash opened #1719 "Accept helmfile.yml as well as helmfile.yaml"
Our project had a `helmfile.yml` instead of `helmfile.yaml` and received this error:

It would be nice for either extension to work for helmfile, especially since `helmfile.d/*.{yaml,yml}` is allowed.

[2021-03-12 22:23] #1717 closed

[2021-03-12 23:29] kevin-lindsay-1 opened #1720 "Installing a helm release from single K8s manifest YAML file hosted somewhere (e.g. OperatorHub)"
With the rise of https://operatorhub.io/, it would be really nice to be able to declaratively state which operators are needed for a given chart.

[2021-03-13 16:45] antaloala commented on #1704
@AndreyGeleta it is not clear to me how those three helmfiles are related.
Assuming the "helmfiles" stanza you show above is the one in helmfile_1 state manifest (it is not really said) then helmfile_2 is a nested helmfile manifest in the scope of helmfile_1 ... but helmfile_3 is not referred from helmfile_1 nor from helmfile_2 (?).
Why helmfile_3 is including as a release an entry with the same n

[2021-03-13 17:06] antaloala commented on #1720
@kevin-lindsay-1  do you mean handling operators packaged in the way OLM framework can handle it? (i.e providing the OLM required staff: CSV manifest, etc.)
I do not really see how that relates to helmfile. It is possible (I actually do like that) to package an operator using one or two helm charts; I prefer two (due to current helm3 limitations on handling the whole LCM of a custom resource, nowa

[2021-03-13 19:17] kevin-lindsay-1 commented on #1720
I would basically just run a `kubectl create` on a particular yaml from operatorhub or the like.

It technically wouldn't invoke helm, but for certain charts an operator being installed is assumed. Since helmfile's overall purpose is in my opinion to improve the DX of helm by adding useful features, I would say that adding operators would also be useful.

If there's a good generic way to wrap that

[2021-03-15 17:19] avgKol opened #1722 "Use helmfile to create a helm chart"
As I understand, helmfile makes it easier to deploy helm charts across environments .

Is Is it possible to use helmfile to create a helm chart on the fly ?

[2021-03-16 09:30] astorath opened #1725 "Using bats for integration testing"
Hey!

A want to convert integration tests in https://github.com/roboll/helmfile/blob/master/test/integration/run.sh to bats: https://github.com/bats-core/bats-core. Writing tests in pure bash is a mess.

Are you ok with that?

[2021-03-17 06:42] #1489 closed

[2021-03-17 09:35] niels-s commented on #1655
I'm running into the same issue with the [scyllla-operator/helm/scylla-manager](https://github.com/scylladb/scylla-operator/tree/master/helm/scylla-manager) which has a dependency on the [Scylla chart](https://github.com/scylladb/scylla-operator/blob/master/helm/scylla-manager/Chart.yaml#L6-L9). Neither `strategicMergePatches` or `jsonPatches` seem to work

[code]
[code]

Is there an idea how a fi